params {
    tools {
        popscle {
            container = 'vibsinglecellnf/popscle:2021-05-05-da70fc7'
            vcf = '/path/to/vcf_file'
            barcode_tag = 'CB'
            freemuxlet {
                nSamples = 2
            }
            demuxlet {
                field = 'GT'
            }
        }
    }
}

