params {
    tools {
        pcacv {
            container = "vibsinglecellnf/pcacv:0.2.0"
            find_optimal_npcs {
                accessor = '@assays$RNA@scale.data'
                // useVariableFeatures = true // or false
                // kFold = ''
                // fromNPC = ''
                // toNPC = ''
                // byNPC = ''
                // maxIters = ''
                // seed = ''
                // verbose = ''
                // devaultSVD = ''
                // nPCFallback = 0
            }
        }
    }

}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__pcacv' {
        cpus = 1
        time = '24h'
    }
}

