params {
    tools {
        harmony {
            container = 'vibsinglecellnf/harmony:1.0-3'
            report_ipynb = "${params.misc.test.enabled ? '../../..' : ''}/src/harmony/bin/reports/sc_harmony_report.ipynb"
            varsUse = ['batch']
            // theta = ''
            // lambda = ''
            // epsilonHarmony = '' // Set to -1 for you need to set this parameter to -Inf in HarmonyMatrix R function
        }
    }
}
