
params {
    tools {
        scenic {
            // Label for the processes
            container = 'aertslab/pyscenic:0.10.4'
            scenicoutdir = "${params.global.outdir}/scenic/"
            filteredLoom = '' // for testing
            scenicOutputLoom = 'SCENIC_output.loom'
            scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
            // computation parameters:
            mode = 'dask_multiprocessing'
            client_or_address = ''
            // input loom parameters:
            cell_id_attribute = 'CellID'
            gene_attribute = 'Gene'
            // reports parameters
            report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
            skipReports = false
            grn {
                algorithm = 'grnboost2' // also available: 'genie3'
            }
            cistarget {
                adj = 'adj.tsv'
                type = ''
                /*
                --no_pruning
                --chunk_size
                --transpose
                */

                // motif enrichment arguments:
                rank_threshold = 5000
                auc_threshold = 0.05
                nes_threshold = 3.0
                // motif annotation arguments:
                min_orthologous_identity = 0.0
                max_similarity_fdr = 0.001
                annotations_fname = ''
                // module generation arguments:
                thresholds = '0.75,0.90'
                top_n_targets = 50
                top_n_regulators = '5,10,50'
                min_genes = 20
                all_modules = false
                // expression_mtx_fname = '' // uses params.toolsenic.filteredLoom
            }
            aucell {
                output = 'aucell_output.loom'
                // motif enrichment arguments:
                rank_threshold = 5000
                auc_threshold = 0.05
                nes_threshold = 3.0
            }
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__scenic.*' {
        cpus = 4
        memory = '60 GB'
        time = '24h'
        maxForks = 1
    }

    withLabel: 'compute_resources__scenic_grn' {
        cpus = 4
        memory = '120 GB'
        time = '24h'
    }

    withLabel: 'compute_resources__scenic_cistarget' {
        cpus = 4
        memory = '80 GB'
    }

    withLabel: 'compute_resources__scenic_aucell' {
        cpus = 4
        memory = '80 GB'
    }

}

