[submodule "src/sratoolkit"]
	path = src/sratoolkit
	url = https://github.com/vib-singlecell-nf/sratoolkit.git
[submodule "src/star"]
	path = src/star
	url = https://github.com/vib-singlecell-nf/star.git
[submodule "src/sinto"]
	path = src/sinto
	url = https://github.com/vib-singlecell-nf/sinto.git
[submodule "src/trimgalore"]
	path = src/trimgalore
	url = https://github.com/vib-singlecell-nf/trimgalore.git
[submodule "src/singlecelltoolkit"]
	path = src/singlecelltoolkit
	url = https://github.com/vib-singlecell-nf/singlecelltoolkit.git
[submodule "src/soupx"]
	path = src/soupx
	url = https://github.com/vib-singlecell-nf/soupx.git
	branch = develop
