[submodule "src/cellranger"]
	path = src/cellranger
	url = https://github.com/vib-singlecell-nf/cellranger.git
[submodule "src/dropletutils"]
	path = src/dropletutils
	url = https://github.com/vib-singlecell-nf/dropletutils.git
[submodule "src/dropseqtools"]
	path = src/dropseqtools
	url = https://github.com/vib-singlecell-nf/dropseqtools.git
[submodule "src/edirect"]
	path = src/edirect
	url = https://github.com/vib-singlecell-nf/edirect.git
[submodule "src/fastp"]
	path = src/fastp
	url = https://github.com/vib-singlecell-nf/fastp.git
[submodule "src/picard"]
	path = src/picard
	url = https://github.com/vib-singlecell-nf/picard.git
[submodule "src/scanpy"]
	path = src/scanpy
	url = https://github.com/vib-singlecell-nf/scanpy.git
[submodule "src/scenic"]
	path = src/scenic
	url = https://github.com/vib-singlecell-nf/scenic.git
[submodule "src/sratoolkit"]
	path = src/sratoolkit
	url = https://github.com/vib-singlecell-nf/sratoolkit.git
[submodule "src/star"]
	path = src/star
	url = https://github.com/vib-singlecell-nf/star.git
[submodule "src/flybaser"]
	path = src/flybaser
	url = https://github.com/vib-singlecell-nf/flybaser.git
[submodule "src/pcacv"]
	path = src/pcacv
	url = https://github.com/vib-singlecell-nf/pcacv.git
[submodule "src/harmony"]
	path = src/harmony
	url = https://github.com/vib-singlecell-nf/harmony.git
[submodule "src/cellranger-atac"]
	path = src/cellranger-atac
	url = https://github.com/vib-singlecell-nf/cellranger-atac.git
[submodule "src/popscle"]
	path = src/popscle
	url = https://github.com/vib-singlecell-nf/popscle.git
[submodule "src/scrublet"]
	path = src/scrublet
	url = https://github.com/vib-singlecell-nf/scrublet.git
	branch = develop
[submodule "src/directs"]
	path = src/directs
	url = https://github.com/vib-singlecell-nf/directs.git
	branch = develop
[submodule "src/celda"]
	path = src/celda
	url = https://github.com/vib-singlecell-nf/celda.git
	branch = develop
[submodule "src/soupx"]
	path = src/soupx
	url = https://github.com/vib-singlecell-nf/soupx.git
	branch = develop
