params {
    tools {
        bap {
            container = 'vibsinglecellnf/bap:2020-05-26-467e193'
            barcode_multiplet {
                genome = 'hg38'
                barcode = 'CR'
            }
            biorad_debarcode {
                protocol = 'v2.1'
                nmismatches = 1
            }
        }
    }
}

