params {
    sc {
        atac {
            bwamaptools {
                container = 'vibsinglecellnf/bwamaptools:2020-07-02-13b5637'
                index = '/path/to/hg38.fa'
                // to do: add bwa mem params
                //mem {
                //}
                add_barcode_as_tag {
                    tag = 'CR'
                    position_of_barcode_in_qname = 1
                    delimiter_to_split_qname = ':'
                }
            }
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__bwa_mem' {
        executor = 'pbs' // or 'local'
        cpus = 20 
        memory = '120 GB'
        time = '24h'
        maxForks = 2
    }
}

