params {

    sc {
        cellranger {
            container = 'vibsinglecellnf/cellranger:3.1.0'
            // Label for the processes
            labels {
                processExecutor = 'qsub'
            }
            mkfastq {
                // https://support.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/using/mkfastq
                // samplesheet = ''
                runFolder = '/staging/leuven/stg_00002/lcb/ngs_runs/NextSeq500_20190522/190522_NB501171_0382_AHHJN2BGXB/'
                // runID = ''
                csv = '/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/TWE/analysis/singlecelltxbenchmark/cellranger_testing/NextSeq500_20190522_SampleSheet.csv'
                // ignoreDualIndex = false
                // qc = false
                // lanes = 1
                // useBasesMask = ''
                // deleteUndetermined = false
                // outputDir = ''
                // project = ''
                // jobMode = ''
                // localCores = ''
                // localMem = ''
            }
            count {
                transcriptome = '/ddn1/vol1/staging/leuven/res_00001/genomes/homo_sapiens/hg38_iGenomes/indexes/CellRanger/3.0.2/hg38_iGenomes'
                // libraries = ''
                // featureRef = ''
                // expectCells = ''
                // forceCells = ''
                // nosecondary = ''
                // noLibraries = ''
                // chemistry = ''
                // r1Length = ''
                // r2Length = ''
                // lanes = ''
                // localCores = ''
                // localMem = ''
                // indicies = ''
                // Qsub resources
                ppn = 20
                pmem = '6gb'
                maxForks = 1
            }
        }
    }
}

