
manifest {
    name = 'vib-singlecell-nf/vib-singlecell-nf'
    description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
    homePage = 'https://github.com/vib-singlecell-nf/vib-singlecell-nf'
    version = '0.6.1'
    mainScript = 'main.nf'
    defaultBranch = 'master'
    nextflowVersion = '!19.12.0-edge' // with ! prefix, stop execution if current version does not match required version.
}

params {
    // These parameters are passed to all processes
    global {
        project_name = '10x_PBMC'
        outdir = 'out'
        qsubaccount = ''
    }
}

process {
    executor = 'local'

    withLabel: qsub {
        executor = 'pbs'
    }

    withLabel: local {
        executor = 'local'
    }
}

profiles {

    standard {
        process.executor = 'local'
    }
    qsub {
        process.executor = 'pbs'
    }
    docker {
        docker.enabled = true
        docker.runOptions = "-i -v ${HOME}:${HOME}"
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/,/staging/leuven/stg_00002/'
    }
    vpcx {
        docker.enabled = true
        docker.runOptions = "-i -v /app:/app -v /root/:/root"
        docker.registry = "itx-aiv.artifactrepo.jnj.com/"
    }

    // workflow-specific profiles:
    star {
        includeConfig 'src/star/star.config'
    }
    bbknn {
        includeConfig 'src/scanpy/scanpy.config'
        includeConfig 'src/scanpy/conf/bbknn.config'
    }
    mnncorrect {
        includeConfig 'src/scanpy/scanpy.config'
        includeConfig 'src/scanpy/conf/mnncorrect.config'
    }
    bbknn_scenic {
        includeConfig 'src/scanpy/scanpy.config'
        includeConfig 'src/scanpy/conf/bbknn.config'
        includeConfig 'src/scenic/scenic.config'
    }
    bbknn_scenic_multiruns {
        includeConfig 'src/scanpy/scanpy.config'
        includeConfig 'src/scanpy/conf/bbknn.config'
        includeConfig 'src/scenic/scenic.config'
        includeConfig 'src/scenic/conf/multi_runs.config'
    }
    single_sample {
        includeConfig 'src/scanpy/scanpy.config'
    }
    single_sample_scenic {
        includeConfig 'src/scanpy/scanpy.config'
        includeConfig 'src/scenic/scenic.config'
    }
    scenic {
        includeConfig 'src/scenic/scenic.config'
    }
    scenic_multiruns {
        includeConfig 'src/scenic/scenic.config'
        includeConfig 'src/scenic/conf/multi_runs.config'
    }
    single_sample_star {
        includeConfig 'src/star/star.config'
        includeConfig 'src/scanpy/scanpy.config'
    }
    nemesh {
        includeConfig 'conf/nemesh.config'
        includeConfig 'src/fastp/fastp.config'
        includeConfig 'src/picard/picard.config'
        includeConfig 'src/dropseqtools/dropseqtools.config'
        includeConfig 'src/star/star.config'
        includeConfig 'src/dropletutils/dropletutils.config'
    }
    cellranger {
        includeConfig 'src/cellranger/cellranger.config'
    }

    // data profiles
    tenx {
        includeConfig 'src/channels/conf/tenx.config'
    }
    h5ad {
        includeConfig 'src/channels/conf/h5ad.config'
    }
    sra {
        includeConfig 'src/channels/conf/sra.config'
        includeConfig 'src/utils/conf/sra_metadata.config'
        includeConfig 'src/sratoolkit/sratoolkit.config'
    }

    // metadata profiles
    dm6 {
        includeConfig 'conf/genomes/dm6.config'
    }

    hg38 {
        includeConfig 'conf/genomes/hg38.config'
    }

    // feature profiles
    pcacv {
        includeConfig 'src/pcacv/pcacv.config'
    }

    // scenic profiles
    scenic_use_cistarget_motifs {
        includeConfig "src/scenic/conf/min/dbs/cistarget-motifs-${params.global.species}-${params.global.genome.assembly}-v0.0.1.config"
    }

    scenic_use_cistarget_tracks {
        includeConfig "src/scenic/conf/min/dbs/cistarget-tracks-${params.global.species}-${params.global.genome.assembly}-v0.0.1.config"
    }

    scenic_test {
        includeConfig 'src/scenic/conf/test.config'
    }

    // utility profiles
    utils_sample_annotate {
        includeConfig 'src/utils/conf/sample_annotate.config'
    }
    utils_cell_annotate {
        includeConfig 'src/utils/conf/cell_annotate.config'
    }
    utils_cell_filter {
        includeConfig 'src/utils/conf/cell_filter.config'
    }

    // test profiles:
    test__single_sample {
        includeConfig 'conf/test__single_sample.config'
    }
    test__single_sample_scenic {
        includeConfig 'conf/test__single_sample_scenic.config'
    }
    test__scenic {
        includeConfig 'conf/test__scenic.config'
    }
    test__bbknn {
        includeConfig 'conf/test__bbknn.config'
    }

}

includeConfig 'src/utils/conf/scope.config'
includeConfig 'src/utils/utils.config' // utilities config
includeConfig 'conf/generic.config'


timeline {
    enabled = true
    file = "${params.global.outdir}/nextflow_reports/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.global.outdir}/nextflow_reports/execution_report.html"
}
trace {
    enabled = true
    file = "${params.global.outdir}/nextflow_reports/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.global.outdir}/nextflow_reports/pipeline_dag.svg"
}
