
manifest {
    name = 'aertslab/SingleCellTxBenchmark'
    description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
    homePage = 'https://github.com/aertslab/SingleCellTxBenchmark'
    version = '0.3.4'
    mainScript = 'main.nf'
    defaultBranch = 'master'
    nextflowVersion = '!19.09.0-edge' // with ! prefix, stop execution if current version does not match required version.
}

params {
    // These parameters are passed to all processes
    global {
        project_name = "10x_PBMC"
        outdir = "out"
        tenx_folder = "data/10x/1k_pbmc/1k_pbmc_*/outs/"
        tracedir = "${params.global.outdir}/pipeline_reports"
        qsubaccount = ""
    }
}

includeConfig 'src/utils/utils.config' // utilities config

profiles {

    standard {
        process.executor = 'local'
    }
    qsub {
        process.executor = 'pbs'
    }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/:/ddn1/vol1/staging/leuven/stg_00002/ -B /staging/leuven/stg_00002/:/staging/leuven/stg_00002/'

    }
    report {
        timeline {
            enabled = true
            file = "${params.global.tracedir}/execution_timeline.html"
        }
        report {
            enabled = true
            file = "${params.global.tracedir}/execution_report.html"
        }
        trace {
            enabled = true
            file = "${params.global.tracedir}/execution_trace.txt"
        }
        dag {
            enabled = true
            file = "${params.global.tracedir}/pipeline_dag.svg"
        }
    }

    // workflow-specific profiles:
    star {
        includeConfig 'src/star/star.config'
    }
    bbknn {
        includeConfig 'src/scanpy/scanpy.config'
    }
    bbknn_scenic {
        includeConfig 'src/scanpy/scanpy.config'
        includeConfig 'src/scenic/scenic.config'
    }
    single_sample {
        includeConfig 'src/scanpy/scanpy.config'
    }
    single_sample_scenic {
        includeConfig 'src/scanpy/scanpy.config'
        includeConfig 'src/scenic/scenic.config'
    }
    scenic {
        includeConfig 'src/scenic/scenic.config'
    }
    scater {
        includeConfig 'src/scater/scater.config'
    }
    scenic_multiruns {
        includeConfig 'src/scenic/scenic.config'
        includeConfig 'src/scenic/conf/multi_runs.config'
    }
    single_sample_star {
        includeConfig 'src/star/star.config'
        includeConfig 'src/scanpy/scanpy.config'
    }

    nemesh {
        includeConfig 'conf/nemesh.config'
        includeConfig 'src/fastp/fastp.config'
        includeConfig 'src/picard/picard.config'
        includeConfig 'src/dropseqtools/dropseqtools.config'
        includeConfig 'src/star/star.config'
        includeConfig 'src/dropletutils/dropletutils.config'
    }

    dropletutils {
        includeConfig 'src/dropletutils/dropletutils.config'
    }

    r_single_sample {
        includeConfig 'src/scater/scater.config'
        includeConfig 'src/dropletutils/dropletutils.config'
    }

}

