
params {
    // These parameters are passed to all processes
    global {
        baseFilePath = "/opt/SingleCellTxBenchmark"
        template_ipynb = "src/scanpy/bin/filter/sc_filter_qc_report.ipynb"
        project_name = "MCF7"
        outdir = "out"
        // tenx_folder = "/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/TWE/cellranger/TEW*/outs/"
        tenx_folder = "/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/TWE/MCF7/10x/ControlvsTSA/cellranger/TEW*/outs/"
        tracedir = "${params.global.outdir}/pipeline_reports"
    }

    sc {
        file_converter {
            iff = "10x_mtx"
                off = "h5ad" 
                useFilteredMatrix = true
        }
        file_annotator {
            iff = "10x_mtx"
                off = "h5ad" 
                type = "sample" 
                metaDataFilePath = "/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/TWE/MCF7/10x/ControlvsTSA/cellranger/metadata.tsv"
        }
        file_concatenator {
            join = 'outer'
                iff = '10x_mtx' 
                off = 'h5ad' 
        }
    }
}

profiles {

    standard {
        process.executor = 'local'
    }
    qsub {
        process.executor = 'pbs'
    }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/:/ddn1/vol1/staging/leuven/stg_00002/ -B /staging/leuven/stg_00002/:/staging/leuven/stg_00002/'

    }
    report {
        timeline {
            enabled = true
            file = "${params.global.tracedir}/execution_timeline.html"
        }
        report {
            enabled = true
            file = "${params.global.tracedir}/execution_report.html"
        }
        trace {
            enabled = true
            file = "${params.global.tracedir}/execution_trace.txt"
        }
        dag {
            enabled = true
            file = "${params.global.tracedir}/pipeline_dag.svg"
        }
    }

    // tool-specific profiles:

    includeConfig 'src/utils/nextflow.config' // utilities config
    scenic {
        includeConfig 'src/scenic/nextflow.config'
    }
    cellranger {
        includeConfig 'src/cellranger/nextflow.config'
    }
    qcfilter {
        includeConfig 'src/scanpy/nextflow.config'
    }
    bbknn {
        includeConfig 'src/scanpy/nextflow.config'
    }

}

