params {

    pcacv {
        container = "vib-singlecell-nf/pcacv:0.1.0"
        find_optimal_npcs {
            accessor = '@assays$RNA@scale.data'
            // kFold = ''
            // fromNPC = ''
            // toNPC = ''
            // byNPC = ''
            // maxIters = ''
            // seed = ''
            // nCores = ''
            // verbose = ''
            // devaultSVD = ''
        }
    }

}
