params {
    sc {
        popscle {
            container = 'vibsinglecellnf/popscle:git-0380446'
            // Label for the processes
            labels {
                processExecutor = 'local' // or qsub
            }
            dsc_pileup {
                vcf = '/path/to/vcf_file'
            }
        }
    }
}

