
params {
    sc {
        scenic {
            // Label for the processes
            container = 'aertslab/pyscenic:0.10.3'
            scenicoutdir = "${params.global.outdir}/scenic/"
            filteredLoom = '' // for testing
            scenicOutputLoom = 'SCENIC_output.loom'
            scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
            // computation parameters:
            mode = 'dask_multiprocessing'
            client_or_address = ''
            numWorkers = 2
            // input loom parameters:
            cell_id_attribute = 'CellID'
            gene_attribute = 'Gene'
            // reports parameters
            report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
            skipReports = false
            grn {
                labels {
                    processExecutor = 'local'
                }
                algorithm = 'grnboost2' // also available: 'genie3'
                // cluster options:
                pmem = '2gb'
                maxForks = 1
                numWorkers = 2
                walltime = '23:59:59'
            }
            cistarget {
                labels {
                    processExecutor = 'local'
                }
                adj = 'adj.tsv'
                type = ''
                output = 'reg.csv'
                /*
                --no_pruning
                --chunk_size
                --all_modules
                --transpose
                */

                // motif enrichment arguments:
                rank_threshold = 5000
                auc_threshold = 0.05
                nes_threshold = 3.0
                // motif annotation arguments:
                min_orthologous_identity = 0.0
                max_similarity_fdr = 0.001
                annotations_fname = ''
                // module generation arguments:
                thresholds = '0.75,0.90'
                top_n_targets = 50
                top_n_regulators = '5,10,50'
                min_genes = 20
                // expression_mtx_fname = '' // uses params.scenic.filteredLoom
                // Resources settings
                pmem = '2gb'
                maxForks = 1
                numWorkers = 2
                walltime = '23:59:59'
            }
            aucell {
                labels {
                    processExecutor = 'local'
                }
                output = 'aucell_output.loom'
                // motif enrichment arguments:
                rank_threshold = 5000
                auc_threshold = 0.05
                nes_threshold = 3.0
                // Resources settings
                pmem = '2gb'
                maxForks = 1
                numWorkers = 2
                walltime = '01:59:59'
            }
        }
    }
}
