
params {
    sc {
        scenic {
            // Label for the processes
            //labels {
            //    processExecutor = 'qsub'
            //}
            container = 'aertslab/pyscenic:0.10.0'
            scenicoutdir = "${params.global.outdir}/scenic/"
            report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
            filteredLoom = '' // for testing
            scenicOutputLoom = 'SCENIC_output.loom'
            scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
            // computation arguments:
            mode = 'dask_multiprocessing'
            client_or_address = ''
            numWorkers = 2
            // loom file arguments:
            cell_id_attribute = 'CellID'
            gene_attribute = 'Gene'
            grn {
                algorithm = 'grnboost2' // also available: 'genie3'
                // cluster options:
                pmem = '2gb'
                maxForks = 1
                numWorkers = 2
            }
            cistarget {
                adj = 'adj.tsv'
                type = ''
                output = 'reg.csv'
                /*
                --no_pruning
                --chunk_size
                --all_modules
                --transpose
                */

                // motif enrichment arguments:
                rank_threshold = 5000
                auc_threshold = 0.05
                nes_threshold = 3.0
                // motif annotation arguments:
                min_orthologous_identity = 0.0
                max_similarity_fdr = 0.001
                annotations_fname = ''
                // module generation arguments:
                thresholds = '0.75,0.90'
                top_n_targets = 50
                top_n_regulators = '5,10,50'
                min_genes = 20
                // expression_mtx_fname = '' // uses params.scenic.filteredLoom
                // Resources settings
                pmem = '2gb'
                maxForks = 1
                numWorkers = 2
            }
            aucell {
                output = 'aucell_output.loom'
                // motif enrichment arguments:
                rank_threshold = 5000
                auc_threshold = 0.05
                nes_threshold = 3.0
                // Resources settings
                pmem = '2gb'
                maxForks = 1
                numWorkers = 2
            }
        }
    }
}
