params {
    sc {
        scrublet {
            container = 'vibsinglecellnf/scrublet:0.1.3'
            // Label for the processes
            labels {
                processExecutor = 'local' // or qsub
            }
            doublet_detection {
                // syntheticDoubletUmiSubsampling
                // minCounts
                // minCells
                // minGeneVariabilityPctl
                // logTransform
                // meanCenter
                // normalizeVariance
                // nPrinComps
                // technology
                off = 'h5ad'
            }
        }
    }
}
