params {
    fastp {
        container = 'docker://dweemx/sctx-fastp:0.20.0'
        thread = 1

        clean_and_fastqc {
            length_required = 20
            adapter_fasta = "/vsc-hard-mounts/leuven-data/software/biomed/skylake_centos7/old_skylake_modules/fastp/0.20.0_6ff0ffa-foss-2018a/fastp.adapters"
        }
    }
}