params {
    sc {
        scenic {
            cistarget {
                // motif feather format databases
                motifsDb = "/staging/leuven/res_00001/databases/cistarget/databases/drosophila_melanogaster/dm6/flybase_r6.02/mc8nr/gene_based/dm6-5kb-upstream-full-tx-11species.mc8nr.feather"
                // motif annotations
                motifsAnnotation = "/staging/leuven/res_00001/databases/cistarget/motif2tf/motifs-v8-nr.flybase-m0.001-o0.0.tbl"
            }
        }
    }
}
