params {
    tools {
        scenic {
            cistarget {
                // Motif feather format databases
                // motifsDb = "/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/scenic-nf_testing/genome-ranking.feather" // for testing
                motifsDb = "/staging/leuven/res_00001/databases/cistarget/databases/homo_sapiens/hg38/refseq_r80/mc9nr/gene_based/hg38__refseq-r80__*feather" 
                // Motif annotations
                // motifsAnnotation = "/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/scenic-nf_testing/motifs.tbl" // for testing
                motifsAnnotation = "/staging/leuven/res_00001/databases/cistarget/motif2tf/motifs-v9-nr.hgnc-m0.001-o0.0.tbl"
            }
        }
    }
}
