params {
    sc {
        scenic {
            cistarget {
                // track feather format databases
                tracksDb = "/ddn1/vol1/staging/leuven/stg_00002/lcb/saibar/Projects/epiSCENIC/2019-06_ChipDB/Chip_dbs_v2_20190627/encode_modERN_20190621__ChIP_seq.max_GENEBASED.feather"
                // track annotations
                tracksAnnotation = "/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/resources/scenic/db/dm6/encode_modERN_20190621_dm6_annotation.track_to_tf_in_motif_to_tf_format.tsv"
            }
        }
    }
}
