params {
    sc {
        scenic {
            cistarget {
                // track feather format databases
                tracksDb = "/ddn1/vol1/staging/leuven/res_00001/databases/cistarget/databases/drosophila_melanogaster/dm6/flybase_r6.02/tc_v1/gene_based/encode_modERN_20190621__ChIP_seq.drosophila_melanogaster.dm6.gene_based.max.feather"
                // track annotations
                tracksAnnotation = "/ddn1/vol1/staging/leuven/res_00001/databases/cistarget/track2tf/encode_modERN_20190621__ChIP_seq.drosophila_melanogaster.dm6.track_to_tf_in_motif_to_tf_format.tsv"
            }
        }
    }
}

