manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.12.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!19.12.0-edge'
}

params {
   global {
      project_name = 'Kurmangaliyev2019_10x_Brain_Pupa_T4-T5'
      outdir = 'out'
      qsubaccount = ''
      species = 'fly'
      genome {
         assembly = 'dm6'
      }
   }
   sc {
      scope {
         genome = 'Flybase r6.31 pre-mRNA v3.1 (https://github.com/FlyCellAtlas/genome_references/commit/a0c77d922ce88d9df1f72b79ab59996898bac78c)'
         tree {
            level_1 = 'Brain'
            level_2 = 'Pupa'
            level_3 = 'T4/T5'
         }
      }
      file_converter {
         iff = '10x_cellranger_mex'
         off = 'h5ad'
         tagCellWithSampleId = true
         useFilteredMatrix = true
      }
      file_concatenator {
         join = 'outer'
         iff = '10x_cellranger_mex'
         off = 'h5ad'
      }
      scanpy {
         container = 'vibsinglecellnf/scanpy:0.5.0'
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterMinNGenes = 1000
            cellFilterMaxNGenes = 2000
            cellFilterMaxPercentMito = 0.05
            geneFilterMinNCells = 3
            iff = '10x_cellranger_mex'
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            dataTransformationMethod = 'log1p'
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         normalization {
            normalizationMethod = 'cpx'
            countsPerCellAfter = 10000
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            featureSelectionMethod = 'mean_disp_plot'
            featureSelectionMinMean = 0.01
            featureSelectionMaxMean = 5
            featureSelectionMinDisp = 0.5
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         feature_scaling {
            featureScalingMthod = 'zscore_scale'
            featureScalingMaxSD = 10
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         neighborhood_graph {
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               dimReductionMethod = 'PCA'
               iff = '10x_cellranger_mex'
               off = 'h5ad'
            }
            umap {
               dimReductionMethod = 'UMAP'
               iff = '10x_cellranger_mex'
               off = 'h5ad'
            }
            tsne {
               dimReductionMethod = 't-SNE'
               nJobs = 10
               iff = '10x_cellranger_mex'
               off = 'h5ad'
            }
         }
         clustering {
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            clusteringMethods = ['louvain','leiden']
            resolutions = [0.4, 0.8, 1.0, 1.2, 1.6, 2.0, 4.0]
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            groupby = 'louvain'
            off = 'h5ad'
         }
      }
      harmony {
         container = 'vibsinglecellnf/harmony:1.0'
         report_ipynb = '/src/harmony/bin/reports/sc_harmony_report.ipynb'
         varsUse = ['batch']
      }
      scenic {
         container = 'vibsinglecellnf/scenic:0.9.19'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         existingScenicLoom = 'out/scenic/Kurmangaliyev2019_10x_Brain_Pupa_T4-T5.SCENIC_output.loom' // TO EDIT
         sampleSuffixWithExtension = '.SCENIC_output.loom'
         scenicoutdir = 'out/scenic/'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
      }
   }
   utils {
      container = 'vibsinglecellnf/utils:0.2.1'
      workflow_configuration {
         report_ipynb = '/src/utils/bin/reports/workflow_configuration_template.ipynb'
      }
   }
   parseConfig = { sample, paramsGlobal, paramsLocal ->
       def pL = paramsLocal.collectEntries { k,v ->
           if (v instanceof Map) {
               if (v.containsKey(sample))
                   return [k, v[sample]]
               if (v.containsKey('default'))
                   return [k, v['default']]
                throw new Exception("Not a valid entry in " + k + ". The sample " + sample + " is not found in " + v +" ; Make sure your samples are correctly specified when using the multi-sample feature.")
           } else {
               return [k,v]
           }
       }
       return [global: paramsGlobal, local: pL]
   }
   data {
      tenx {
         cellranger_outs_dir_path = 'out/counts/T4_T5_*/outs/' // TO EDIT
      }
   }
   pcacv {
      container = 'vibsinglecellnf/pcacv:0.1.0'
      find_optimal_npcs {
         accessor = '@assays$RNA@scale.data'
         nCores = 8
      }
   }
}

process {
   executor = 'local'
   withLabel:qsub {
      executor = 'pbs'
   }
   withLabel:local {
      executor = 'local'
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '-B ' // TO EDIT
}
