def _ = params.tools.scenic

params {
    tools {
        scenic {
            labels {
                // Resources settings:
                // PUBLIC
                processExecutor = _.containsKey("labels") && _.labels.containsKey("processExecutor") ? _.labels.processExecutor : 'local'
            }
        }
    }
}
