params {
    sc {
        scenic {
            container = "docker://dweemx/sctx-pyscenic:0.9.18-2"
            numRuns = 2
            // AUCell parameters
            aucell {
                // only used when running in multi-runs mode
                // percentile_threshold = 0.01 // will override auc_threshold if uncommented
                min_genes_regulon = 5
                gene_occurence_threshold = 5
            }
        }
    }
}
