params {
    tools {
        scenic {
            numRuns = 2
            // AUCell parameters
            aucell {
                // only used when running in multi-runs mode
                // percentile_threshold = 0.01 // will override auc_threshold if uncommented
                min_genes_regulon = 5
                min_regulon_gene_occurrence = 5
            }
            aggregate_features {
                use_chunking = true
                output_format = 'csv'
                compression = 'gzip'
            }
        }
    }
}

process {
    withLabel: 'compute_resources__scenic_multiruns.*' {
        cpus = 4
        memory = '60 GB'
        time = '24h'
    }
    withLabel: 'compute_resources__scenic_multiruns_motifs2regulons' {
        // Best: (max RAM memory (in Mb) of the node - 4*1024) / number_of_cores
        memory = '60 GB'
    }
}

