params {
    sc {
        scenic {
            container = 'docker://dweemx/sctx-pyscenic:0.9.19-6'
            numRuns = 2
            // AUCell parameters
            aucell {
                // only used when running in multi-runs mode
                // percentile_threshold = 0.01 // will override auc_threshold if uncommented
                min_genes_regulon = 5
                min_regulon_gene_occurrence = 5
            }
            aggregate_features {
                use_chunking = true
                output_format = 'csv'
                compression = 'gzip'
            }
            motifs_to_regulons {
                // Best: (max RAM memory (in Mb) of the node - 4*1024) / number_of_cores
                pmem = '6gb'
            }
            save_to_loom {
                pmem = '2gb'
            }
        }
    }
}
