//env {
//    //PATH = System.getProperty("user.dir").concat("/src/scenic/bin/:${PATH}")
//    PATH = "/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/SingleCellTxBenchmark/src/scenic/bin:${PATH}"
//}

params {
    // These parameters are passed to all processes
    global {
        baseFilePath = ""
        template_ipynb = ""
        project_name = "test"
        tenx_folder = ""
        genome = ""
        outdir = "out"
        qsubaccount = ""
    }

    sc {
        scenic {
            container = "/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/Pipeline_Dev/aertslab-pyscenic-0.9.18.sif"
            scenicoutdir = "/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/aertslab/GitHub/SingleCellTxBenchmark/src/scenic/out"
            filteredloom = "data/expr_mat.loom" // for testing
            scenicoutputloom = "SCENIC_output.loom"
            // Computation arguments:
            numRuns = 2
            numWorkers = 2
            mode = "dask_multiprocessing"
            client_or_address = ""
            // Loom file arguments:
            cell_id_attribute = "CellID"
            gene_attribute = "Gene"
            // Gene regulatory network inference parameters
            grn {
                TFs = "data/allTFs_hg38.txt"
                seed = ""
            }
            // cisTarget parameters
            cistarget {
                adj = "adj.tsv"
                // motif feather format databases
                mtfDB = "data/genome-ranking.feather" // for testing
                // mtfDB = "/staging/leuven/res_00001/databases/cistarget/databases/homo_sapiens/hg38/refseq_r80/mc9nr/gene_based/hg38__refseq-r80__*feather" 
                // motif annotations
                mtfANN = "data/motifs.tbl" // for testing
                //mtfANN = "/staging/leuven/res_00001/databases/cistarget/motif2tf/motifs-v9-nr.hgnc-m0.001-o0.0.tbl"
                // track feather format databases
                trkDB = "/staging/leuven/res_00001/databases/cistarget/databases/homo_sapiens/hg38/refseq_r80/tc_v1/gene_based/encode_20190621__ChIP_seq_transcription_factor.hg38__refseq-r80__*feather"
                // track annotations
                trkANN = "/staging/leuven/stg_00002/lcb/icistarget/data/annotations/homo_sapiens/hg38/track_annotations/encode_project_20190621__ChIP-seq_transcription_factor.homo_sapiens.hg38.bigwig_signal_pvalue.track_to_tf_in_motif_to_tf_format.tsv" 
                type = ""

                output = "reg.csv"
                /* 
                --no_pruning
                --chunk_size
                --all_modules
                --transpose
                */

                // motif enrichment arguments:
                rank_threshold = "5000"
                auc_threshold = "0.05"
                nes_threshold = "3.0"
                // motif annotation arguments:
                min_orthologous_identity = "0.0"
                max_similarity_fdr = "0.001"
                annotations_fname = ""
                // module generation arguments:
                thresholds = "0.75,0.90"
                top_n_targets = "50"
                top_n_regulators = "5,10,50"
                min_genes = "20"
                // expression_mtx_fname = "" // uses params.scenic.filteredloom

            }
            // AUCell parameters
            aucell {
                output = "aucell_output.loom"
                // motif enrichment arguments:
                rank_threshold = "5000"
                auc_threshold = "0.05"
                // percentile_threshold = 0.01
                nes_threshold = "3.0"
                // only used when running in multi-runs mode
                min_genes_regulon = 5
                gene_occurence_threshold = 0
            }
        }

        scope {
            tree {
                level_1 = ""
                level_2 = ""
                level_3 = ""
            }
        }
    }
}
