params {
    sc {
        scenic {
            numRuns = 2
            // AUCell parameters
            aucell {
                // only used when running in multi-runs mode
                // percentile_threshold = 0.01 // will override auc_threshold if uncommented
                min_genes_regulon = 1
                min_regulon_gene_occurrence = 1
            }
            aggregate_features {
                use_chunking = true
                output_format = 'csv'
                compression = 'gzip'
            }
        }
    }
}
