params {
    global {
        project_name = 'Test'
    }

    tools {
        scenic {
            filteredLoom = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/scenic-nf_testing/expr_mat.loom' // for testing
            
            // cisTarget parameters
            cistarget {
                // motif feather format databases
                motifsDb = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/scenic-nf_testing/genome-ranking.feather' // for testing
                // motif annotations
                motifsAnnotation = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/scenic-nf_testing/motifs.tbl' // for testing
            }
        }
    }
}
