params {
    tools {
        pycistopic {
            container = '/staging/leuven/stg_00002/lcb/cbravo/Multiomics_pipeline/pycistopic.sif'
            biomart_annot {
                biomart_dataset_name = 'hsapiens_gene_ensembl'
                biomart_host = 'http://www.ensembl.org'
            }
            macs2_call_peaks {
                gsize = 'hs' // hs, mm, ce, dm, or numeric effective genome size, e.g. '2.7e9'
                qvalue = 0.01
                extsize = 146
                shift = 73
                keepdup = 'all'
            }
            compute_qc_stats {
                n_frag = 100
                tss_flank_window = 2000
                tss_window = 50
                tss_minimum_signal_window = 100
                tss_rolling_window = 10
                min_norm = 0.1
            }
            call_cells {
                report_ipynb = '/src/pycistopic/bin/pycisTopic_qc_report_template.ipynb'
                use_density_coloring_on_scatterplot = true
                use_detailed_title_on_scatterplot = true
                filter_frags_lower = '1000'
                filter_frags_upper = ''
                filter_tss_lower = '8'
                filter_tss_upper = ''
                filter_frip_lower = ''
                filter_frip_upper = ''
                filter_dup_rate_lower = ''
                filter_dup_rate_upper = ''
            }
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__pycisTopic' {
        executor = 'local' // or 'pbs'
        cpus = 8
        memory = '120 GB'
        time = '24h'
    }
}

