params {
    tools {
        pycistopic {
            container = '/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/Pipeline_Dev/containers/aertslab-pycistopic-2021-02-02-2b4cc98.sif'
            macs2_call_peaks {
                gsize = 'hs' // hs, mm, ce, dm, or numeric effective genome size, e.g. '2.7e9'
                qvalue = 0.01
                extsize = 146
                shift = 73
                keepdup = 'all'
            }
            compute_qc_stats {
                n_frag = 50
            }
        }
    }
}

