params {
    tools {
        pycistopic {
            container = 'vibsinglecellnf/pycistopic:0.2'
            macs2_call_peaks {
                gsize = 'hs' // hs, mm, ce, dm, or numeric effective genome size, e.g. '2.7e9'
                qvalue = 0.01
                extsize = 146
                shift = 73
                keepdup = 'all'
            }
            computeQCstats {
                param2 = ''
            }
        }
    }
}

