def _ = params.sc.scenic
// Sanity checks
if(!(params.global.species in ["human", "mouse", "fly"]))
    throw new Exception("No TFs found for the given species: "+ params.global.species)

params {
    sc {
        scenic {
            grn {
                // seed = 617
                // Resources settings:
                // PUBLIC
                // maxForks = _.containsKey("grn") && _.grn.containsKey("maxForks") ? _.grn.maxForks : 1
                // numWorkers = _.containsKey("grn") && _.grn.containsKey("numWorkers") ? _.grn.numWorkers : 2
                // // Following parameters are not used except params.sc.scenic.labels.processExecutor = 'qsub'
                // pmem = _.containsKey("grn") && _.grn.containsKey("pmem") ? _.grn.pmem : '2gb'
                // walltime = '24:00:00'
            }
        }
    }
}

includeConfig "tfs/${params.sc.scenic.tfsVersion}.config"
