def _ = params.sc.scenic

params {
    sc {
        scenic {
            labels {
                // Resources settings:
                // PUBLIC
                processExecutor = _.containsKey("labels") && _.labels.containsKey("processExecutor") ? _.labels.processExecutor : 'local'
            }
        }
    }
}
