params {
    tools{
        picard {
            container = 'vibsinglecellnf/picard:2.21.1'

            merge_bam_alignment {
                includeSecondaryAlignments = false
                pairedRun = false
            }

            sort_sam {
                so = "coordinate"
            }
        }
    }
}
