params {
    tag = "0.0.1"
    outdir = "out"
}

profiles {

    singularity {
        singularity.enabled = true
        process.container = 'docker://dweemx/sctx-scanpy:' + params.tag
        singularity.autoMounts = true
        singularity.runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/:/ddn1/vol1/staging/leuven/stg_00002/ -B /staging/leuven/stg_00002/:/staging/leuven/stg_00002/'
    }

}