params {
    tools {
        singlecelltoolkit {
            saturation {
                percentages = '0.3,0.6,0.9'
                sampling_fractions = '0.0,0.01,0.02,0.03,0.04,0.05,0.06,0.07,0.08,0.09,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1.0'
                min_frags_per_cb = 200
            }
        }
    }
}

