params {
    tools {
        singlecelltoolkit {
            barcode_correction {
                max_mismatches = 1
                min_frac_bcs_to_find = 0.5
                whitelist {
                    standard = ''
                    multiome = ''
                    hydrop_3x96 = ''
                    hydrop_2x384 = ''
                }
            }
            barcode_10x_scatac_fastqs {
                uncorrected_bc_tag = 'CR'
                barcode_quality_tag = 'CY'
            }
        }
    }
}


