params {
    tools {
        singlecelltoolkit {
            saturation {
                percentages = '0.3,0.6,0.9'
                sampling_fractions = '0.0,0.1,0.2,0.3,0.4,0.5,0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,0.92,0.94,0.96,0.98,1.0'
                min_frags_per_cb = 200
                skip = true
            }
        }
    }
}

