params {
    tools {
        singlecelltoolkit {
            barcode_correction {
                whitelist {
                    standard = ''
                    multiome = ''
                    hydrop = ''
                }
            }
            barcode_10x_scatac_fastqs {
                uncorrected_bc_tag = 'CR'
                barcode_quality_tag = 'CY'
            }
        }
    }
}


