params {
    tools {
        bwamaptools {
            bwa_fasta = '/path/to/bwa_index/hg38.fa'
            bwa_version = 'bwa-mem2' // or 'bwa'
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__bwa_mem' {
        executor = 'pbs' // or 'local'
        cpus = 20
        memory = '120 GB'
        time = '24h'
        maxForks = 2
    }
}

