params {
    tools {
        bwamaptools {
            bwa_fasta = '/path/to/bwa_index/hg38.fa'
            bwa_version = 'bwa-mem2' // or 'bwa'
            // to do: add bwa mem params
            //mem {
            //}
            add_barcode_as_tag {
                uncorrected_bc_tag = 'CR'
                corrected_bc_tag = 'CB'
                // delimiter used to get barcode block from the qname. ('_'):
                delimiter_to_get_barcode_block = '_'
                // delimiter used to split the {uncorrected_bc}-{corrected_bc} block ('-'):
                delimiter_to_split_barcodes = '-'
            }
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__bwa_mem' {
        executor = 'pbs' // or 'local'
        cpus = 20
        memory = '120 GB'
        time = '24h'
        maxForks = 2
    }
}

