params {
    sc {
        directs {
            container = 'vibsinglecellnf/directs:0.1.0'
            // Label for the processes
            labels {
                processExecutor = 'local' // or qsub
            }
            select_default_clustering {
                fromMinClusterSize = 5
                toMinClusterSize = 100
                byMinClusterSize = 5
            }
        }
    }
}

