params {
    sc {
        celda {
            container = 'vibsinglecellnf/celda:1.4.5'
            decontx {
                cell_annotate {
                    off = 'h5ad'
                    method = 'obo'
                    indexColumnName = 'index'
                }
                filterEmptyCells = false
            }
        }
    }
}

