params {
    sc {
        cellranger {
            container = 'vibsinglecellnf/cellranger:3.1.0'
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__cellranger' {
        executor = 'pbs' // or 'local'
        cpus = 20
        memory = '6 GB'
        time = '24h'
        maxForks = 1
    }
}

