params {
    sc {
        scanpy {
            batch_effect_correct {
                batchEffectCorrectionMethod = 'bbknn'
                report_ipynb = '/src/scanpy/bin/reports/sc_bbknn_report.ipynb' 
                neighborsWithinBatch = 5
                nPcs = 20 
                trim = 0
                iff = '10x_cellranger_mex' 
                off = 'h5ad'
            }
        }
    }
}