includeConfig("mkfastq.config")

params {
    sc {
        cellranger {
            librariesMap = [
                "sample1": [
                    ["sampleName": "S1_CDNA", "assay": "Gene Expression"],
                    ["sampleName": "S1_Hash", "assay": "Antibody Capture"]
                ]
            ]
            count {
                featureRef = ""
                libraries = ""
            }
        }
    }
}
