
// define computing resources via process labels
process {

    // set global executor for all processes. Can be overridden by other tool-specific labels
    executor = 'local'

    /*
      set a default compute profile
      applies to all 'compute_resources__.*' labels:
    */
    withLabel: 'compute_resources__.*|compute_resources__default' {
        cpus = 2
        memory = '60 GB'
        time = '1h'
        // additional cluster options (applies to grid based executors):
        clusterOptions = "-A cluster_account"
    }

    withLabel: 'compute_resources__minimal' {
        cpus = 1
        memory = '1 GB'
    }

    withLabel: 'compute_resources__mem' {
        cpus = 4
        memory = '160 GB'
    }

    withLabel: 'compute_resources__cpu' {
        cpus = 20
        memory = '80 GB'
    }

    // can be used in conjunction with any other label to extend the queue time
    withLabel: 'compute_resources__24hqueue' {
        time = '24h'
    }

}

