
// define computing resources via process labels
process {

    // set global executor for all processes. Can be overridden by other tool-specific labels
    executor = 'local'

    // set default options that apply to all processes:
    cpus = 2
    memory = '60 GB'

    // additional cluster options (applies to grid based executors):
    clusterOptions = "-A cluster_account"

    //  set a default compute profile
    withLabel: 'compute_resources__default' {
        time = '1h'
    }

    withLabel:compute_resources__sctk_barcode {
       cpus = 2
       memory = '20 GB'
       maxForks = 8
    }

    withLabel:compute_resources__barcode_10x_scatac_fastq_5cpus {
       cpus = 5
       memory = '40 GB'
       maxForks = 5
    }

    withLabel:compute_resources__trimgalore__trim_5cpus {
       cpus = 5
       memory = '20 GB'
       maxForks = 5
    }

    withLabel:compute_resources__picard__merge_sam_files_and_sort {
       cpus = 4
       memory = '100 GB'
       maxForks = 4
    }

    withLabel:compute_resources__picard__mark_duplicates_and_sort {
       cpus = 8
       memory = '100 GB'
       maxForks = 4
    }

    withLabel:compute_resources__sinto__fragments {
       cpus = 4
       memory = '40 GB'
       maxForks = 8
    }

    withLabel:compute_resources__sinto__sort_fragments {
       cpus = 1
       memory = '40 GB'
       maxForks = 8
    }

    withLabel:compute_resources__bap_barcode_multiplet_pipeline_8cpus {
       cpus = 8
       memory = '80 GB'
       maxForks = 3
    }

    withLabel: 'compute_resources__minimal' {
        cpus = 1
        memory = '1 GB'
    }

    withLabel: 'compute_resources__mem' {
        cpus = 4
        memory = '160 GB'
    }

    withLabel: 'compute_resources__cpu' {
        cpus = 20
        memory = '80 GB'
    }

    withLabel: 'compute_resources__report' {
        maxForks = 2
        cpus = 1
        memory = '160 GB'
    }

    // can be used in conjunction with any other label to extend the queue time
    withLabel: 'compute_resources__24hqueue' {
        time = '24h'
    }

}

