
// define computing resources via process labels
process {

    /*
      set a default compute profile
      applies to all 'compute_resources__.*' labels:
    */
    withLabel: 'compute_resources__.*|compute_resources__default' {
        cpus = 2
        memory = '2 GB'
        time = '1h'
        // additional cluster options (applies to grid based executors):
        clusterOptions = "-A cluster_account"
    }

    withLabel: 'compute_resources__minimal' {
        cpus = 1
        memory = '1 GB'
    }

    withLabel: 'compute_resources__mem' {
        cpus = 4
        memory = '30 GB'
    }

    withLabel: 'compute_resources__cpu' {
        cpus = 20
        memory = '30 GB'
    }

}

