params {
    sc {
        cellranger {
            count {
                transcriptome = '/ddn1/vol1/staging/leuven/res_00001/genomes/homo_sapiens/hg38_iGenomes/indexes/CellRanger/3.0.2/hg38_iGenomes'
                // libraries = ''
                // featureRef = ''
                // expectCells = ''
                // forceCells = ''
                // nosecondary = ''
                // noLibraries = ''
                // chemistry = ''
                // r1Length = ''
                // r2Length = ''
                // lanes = ''
                // localCores = ''
                // localMem = ''
                // indicies = ''
                // Qsub resources
                ppn = 20
                pmem = '6gb'
                walltime = '24:00:00'
                maxForks = 1
            }
        }
    }
}
