params {
    sc {
        celda {
            decontx {
                cell_filter {
                    filters = [
                        [
                            id:'DECONTX_FILTERED',
                            sampleColumnName:'sample_id',
                            filterColumnName:'celda_decontx__doublemad_predicted_outliers',
                            valuesToKeepFromFilterColumn:['False']
                        ]
                    ]
                }
            }
        }
    }
}

