params {
    sc {
        celda {
            decontx {
                strategy = "filter" // choices: 'filter' (default), 'correct'
                // assayName = "counts"
                // z = NULL
                // batch = NULL
                // maxIter = 500
                // delta = c(10, 10)
                // estimateDelta = TRUE
                // convergence = 0.001
                // iterLogLik = 10
                // varGenes = 5000
                // dbscanEps = 1
                // logfile = NULL
                // verbose = TRUE

                filter {
                    num_mads = [3]
                    contamination_score_threshold = [0.5]
                }
            }
        }
    }
}

