params {
    // This closure facilitates the usage of sample specific parameters
   parseConfig = { sample, paramsGlobal, paramsLocal ->
       def pL = paramsLocal.collectEntries { k,v ->
           if (v instanceof Map) {
               if (v.containsKey(sample))
                   return [k, v[sample]]
               if (v.containsKey('default'))
                   [k, v['default']]
                throw new Exception("Not a valid entry in " + k + ". The sample " + sample + " is not found in " + v +" ; Make sure your samples are correctly specified when using the multi-sample feature.")
           } else {
               return [k,v]
           }
       }
       return [global: paramsGlobal, local: pL]
   }
}
