params {

    tools {
        star {
            map_count {
                soloCBwhitelist = [
                    'https://github.com/aertslab/hydrop_data_analysis/raw/main/resources/20200227_bc1.txt',
                    'https://github.com/aertslab/hydrop_data_analysis/raw/main/resources/20200227_bc2.txt',
                    'https://github.com/aertslab/hydrop_data_analysis/raw/main/resources/20200227_bc3.txt'
                    ]
                soloType = 'CB_UMI_Complex'
                soloCBposition = '0_0_0_9 0_20_0_29 0_40_0_49'
                soloUMIposition = '0_50_0_57'
                soloCellFilter = "CellRanger2.2 5000 0.99 10"
                soloCBmatchWLtype = '1MM'
                outFilterMultimapNmax = '1'
                outSAMattributes = 'NH HI AS nM CB UB CR CY UR UY'
                bamRemoveDuplicatesType = 'UniqueIdentical'
                soloFeatures = 'Gene GeneFull Velocy'
            }
        }
    }
}