process {
   afterScript = {
      // Source: https://github.com/nextflow-io/nextflow/issues/1166#issuecomment-502467562
      logMainDir = params.logDir

      // Check whether log dir is located in S3 if using awsbatch and is a local directory otherwise
      if (workflow.profile == "aws") {
         if (!logMainDir.matches("^s3://.*")) logMainDir = "s3:/" + workflow.workDir.toString() + "/log"
      } else {
         logMainDir = workflow.launchDir.resolve(logMainDir).toString()
         if (!logMainDir.matches("^/.*")) logMainDir = workflow.launchDir.toString() + "/log"
      }

      // Build log directory path based on task name
      logSubDir = task.name.replace(" (null)", "").replace(" ", "/").replaceAll(" ", "_").replaceAll("[()]", "")
      logDir = logMainDir + "/" + logSubDir

      // Define command to copy log files 
      cpLogCmd = workflow.profile == "aws" ?
         "nxf_s3_upload '*.txt' ${logDir}; " :
         "mkdir -p ${logDir}; cp -a *.txt ${logDir}; "

      // Assemble final command
      cmd = "ls -alR --full-time > .command.ls; "
      cmd += "mkdir nxf_log; "
      cmd += "for file in .command.*; do cp -a \${file} nxf_log/\${file#.}.txt; done; "
      cmd += "cd nxf_log; "
      cmd += cpLogCmd
      cmd += "cd ..;"
      cmd
   }
}