params {
    sc {
        scanpy {
            batch_effect_correct {
                batchEffectCorrectionMethod = 'mnn'
                report_ipynb = '/src/scanpy/bin/reports/sc_mnncorrect_report.ipynb'
                nJobs = 2
                iff = '10x_cellranger_mex'
                off = 'h5ad'
            }
        }
    }
}