params {
    global {
        genome = '/ddn1/vol1/staging/leuven/res_00001/genomes/homo_sapiens/hg38_iGenomes/iGenomes_Raw/Sequence/WholeGenomeFasta/genome.fa'
        genome_annotation = '/ddn1/vol1/staging/leuven/res_00001/genomes/homo_sapiens/hg38_iGenomes/iGenomes_Raw/Annotation/Archives/archive-2015-08-14-08-18-15/Genes/genes.gtf'
        tmpDir = '/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax'
        threads= 1
        qsubaccount = ''
    }

    tools {
        nemesh {
            // User can extract custom cell barcodes by providing it with a TSV containing all the barcodes
            // custom_selected_barcodes = ''
            // custom_selected_barcodes_tag = ''
        }
    }
}