params{
	R_rnaseq {
		outformat = "rds"
	}
}
includeConfig '../src/Seurat/conf/container.config'
includeConfig '../src/Seurat/conf/input.config'
includeConfig '../src/Seurat/processes/seuratObjBuilder/seuratObjBuilder.config'
includeConfig '../src/Seurat/processes/RNAQc/RNAQc.config'
includeConfig '../src/Seurat/processes/thresholdFiltering/thresholdFiltering.config'
includeConfig '../src/SingleCellExperiment/conf/container.config'
includeConfig '../src/SingleCellExperiment/processes/pcaFiltering/pcaFiltering.config'
includeConfig '../src/SingleCellExperiment/processes/normalization/normalization.config'
includeConfig '../src/Seurat/processes/scTransform/scTransform.config'
includeConfig '../src/Seurat/processes/findVariableFeatures/findVariableFeatures.config'
includeConfig '../src/Seurat/processes/markerGenes/markerGenes.config'
includeConfig '../src/Seurat/processes/dimensionalityReduction/pca.config'
includeConfig '../src/Seurat/processes/clustering/clustering.config'
includeConfig '../src/Seurat/processes/annotationGraphs/annotationGraphs.config'
includeConfig '../src/DoubletFinder/conf/doubletFinder.config'
