params{
	R_rnaseq {
		outformat = "rds"
	}
}
includeConfig '../src/seurat/conf/container.config'
includeConfig '../src/seurat/conf/input.config'
includeConfig '../src/seurat/conf/seuratObjBuilder.config'
includeConfig '../src/seurat/conf/RNAQc.config'
includeConfig '../src/seurat/conf/thresholdFiltering.config'
includeConfig '../src/singlecellexperiment/conf/container.config'
includeConfig '../src/singlecellexperiment/conf/pcaFiltering.config'
includeConfig '../src/singlecellexperiment/conf/normalization.config'
includeConfig '../src/seurat/conf/scTransform.config'
includeConfig '../src/seurat/conf/findVariableFeatures.config'
includeConfig '../src/seurat/conf/markerGenes.config'
includeConfig '../src/seurat/conf/pca.config'
includeConfig '../src/seurat/conf/clustering.config'
includeConfig '../src/seurat/conf/annotationGraphs.config'
includeConfig '../src/doubletfinder/conf/doubletFinder.config'
