
params {
    global {
        project_name = 'single_sample_CI'
    }
    data {
        tenx {
            cellranger_mex = 'sample_data/outs'
        }
    }
    tools {
        scanpy {
            filter {
                cellFilterMinNGenes = 1
            }
            neighborhood_graph {
                nPcs = 2
            }
            dim_reduction {
                pca {
                    method = 'pca'
                    nComps = 2
                }
            }
        }
    }
}

