//env {
//    //PATH = System.getProperty("user.dir").concat("/src/scenic/bin/:${PATH}")
//    PATH = "/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/SingleCellTxBenchmark/src/scenic/bin:${PATH}"
//}

params {
    // These parameters are passed to all processes
    global {
        baseFilePath = ""
        template_ipynb = ""
        project_name = "test"
        outdir = "out"
        tenx_folder = ""
        qsubaccount = ""
    }

    sc {
        scenic {
            container = "/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/Pipeline_Dev/aertslab-pyscenic-0.9.18.sif"
            scenicoutdir = "out_SCENIC"
            filteredloom = "data/expr_mat.loom" // for testing
            scenicoutputloom = "SCENIC_output.loom"
            // Computation arguments:
            numRuns = 1
            numWorkers = 2
            mode = "dask_multiprocessing"
            client_or_address = ""
            // Loom file arguments:
            cell_id_attribute = "CellID"
            gene_attribute = "Gene"
            // Gene regulatory network inference parameters
            grn {
                TFs = "data/allTFs_hg38.txt"
                seed = ""
            }
        }
    }
}