
params {
    global {
        project_name = 'decontx_CI'
    }
    data {
        tenx {
            cellranger_mex = 'sample_data/outs'
        }
    }
    tools {
        celda {
            container = 'vibsinglecellnf/celda:1.4.5'
            decontx {
                strategy = 'correct'
            }
        }
    }
}

