
params {
    global {
        project_name = 'single_sample_scrublet_CI'
    }
    data {
        tenx {
            cellranger_mex = 'sample_data/outs'
        }
    }
    tools {
        scanpy {
            filter {
                cellFilterMinNGenes = 1
            }
            neighborhood_graph {
                nPcs = 10
            }
            dim_reduction {
                pca {
                    method = 'pca'
                    nComps = 10
                }
            }
        }
        scrublet {
            container = 'vibsinglecellnf/scrublet:0.2.3'
            labels {
                processExecutor = 'local'
            }
            doublet_detection {
                report_ipynb = '/src/scrublet/bin/reports/sc_doublet_detection_report.ipynb'
                useVariableFeatures = 'False'
                technology = '10x'
                off = 'h5ad'
            }
            cell_annotate {
                off = 'h5ad'
                method = 'obo'
                indexColumnName = 'index'
            }
            cell_filter {
                off = 'h5ad'
                method = 'internal'
                filters = [
                    [
                        id:'NO_DOUBLETS',
                        sampleColumnName: 'sample_id',
                        filterColumnName:'scrublet__predicted_doublets_based_on_10x_chromium_spec',
                        valuesToKeepFromFilterColumn:['False']
                    ]
                ]
            }
        }
    }
}

