
params {
    global {
        project_name = 'cell_annotate_filter_CI'
    }
    data {
        tenx {
            cellranger_mex = 'sample_data/outs'
        }
    }
    sc {
        file_converter {
            off = 'h5ad'
            tagCellWithSampleId = false
            useFilteredMatrix = true
            makeVarIndexUnique = false
        }
        scanpy {
            container = 'vibsinglecellnf/scanpy:0.6.2'
        }
        cell_annotate {
            off = 'h5ad'
            method = 'aio'
            indexColumnName = 'index'
            cellMetaDataFilePath = "sample_data_tiny_dummy_annotation.tsv.gz"
            annotationColumnNames = ['dummy_annotation']
        }
        cell_filter {
            off = 'h5ad'
            method = 'internal'
            filters = [[
                id : 'foobar',
                indexColumnName:'index',
                filterColumnName:'dummy_annotation',
                valuesToKeepFromFilterColumn: ['foo']
            ]]
        }
    }
}

