
params {
    global {
        project_name = 'single_sample_decontx_CI'
    }
    data {
        tenx {
            cellranger_mex = 'sample_data/outs'
        }
    }
    tools {
        file_annotator {
            metadataFilePath = ''
        }
        scanpy {
            filter {
                cellFilterMinNGenes = 1
            }
            neighborhood_graph {
                nPcs = 10
            }
            dim_reduction {
                pca {
                    method = 'pca'
                    nComps = 10
                }
            }
        }
        celda {
            container = 'vibsinglecellnf/celda:1.4.5'
            decontx {
                strategy = 'correct'
            }
        }
    }
}

