
params {
    global {
        project_name = 'scenic_multiruns_CI'
    }
    tools {
        file_annotator {
            metadataFilePath = ''
        }
        scenic {
            filteredLoom = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/expr_mat_small.loom'
            grn {
                tfs = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/test_TFs_small.txt'
            }
            cistarget {
                motifsDb = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/genome-ranking.feather'
                motifsAnnotation = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/motifs.tbl'
                tracksDb = ''
                tracksAnnotation = ''
            }
            aucell {
                min_genes_regulon = 0
                min_regulon_gene_occurrence = 0
            }
        }
    }
}

