
params {
    global {
        project_name = 'scenic_CI'
    }
    tools {
        file_annotator {
            metadataFilePath = ''
        }
        scenic {
            filteredLoom = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/expr_mat_tiny.loom'
            grn {
                tfs = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/test_TFs_tiny.txt'
            }
            cistarget {
                motifsDb = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/genome-ranking.feather'
                motifsAnnotation = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/motifs.tbl'
                tracksDb = ''
                tracksAnnotation = ''
            }
        }
    }
}

