
params {
    global {
        project_name = 'single_sample_decontx_filter_CI'
    }
    data {
        tenx {
            cellranger_mex = 'sample_data/outs'
        }
    }
    tools {
        scanpy {
            filter {
                cellFilterMinNGenes = 1
            }
            neighborhood_graph {
                nPcs = 10
            }
            dim_reduction {
                pca {
                    method = 'pca'
                    nComps = 10
                }
            }
        }
        celda {
            container = 'vibsinglecellnf/celda:1.4.5'
            decontx {
                cell_filter {
                    off = 'h5ad'
                    method = 'internal'
                    filters = [[id:'DECONTX_FILTERED', sampleColumnName:'sample_id', filterColumnName:'celda_decontx__doublemad_predicted_outliers', valuesToKeepFromFilterColumn:['False']]]
                }
                strategy = 'filter'
                cell_annotate {
                    off = 'h5ad'
                    method = 'obo'
                    indexColumnName = 'index'
                }
                filters {
                    numMadsThresholds = [3]
                    contaminationScoreThresholds = [0.5]
                }
            }
        }
    }
}

