
params {
    global {
        project_name = 'scenic_CI'
    }
    sc {
        file_annotator {
            metaDataFilePath = ''
        }
        scenic {
            filteredLoom = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/expr_mat.loom'
            numWorkers = 2
            grn {
                tfs = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/allTFs_hg38.txt'
            }
            cistarget {
                motifsDb = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/genome-ranking.feather'
                motifsAnnotation = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/motifs.tbl'
                tracksDb = ''
                tracksAnnotation = ''
            }
        }
    }
}

