
params {
    global {
        project_name = 'harmony_CI'
    }
    data {
        tenx {
            cellranger_mex = "testdata/*/outs/"
        }
    }
    tools {
        file_annotator {
            metadataFilePath = ''
        }
        scanpy {
            filter {
                cellFilterMinNGenes = 1
            }
            neighborhood_graph {
                nPcs = 2
            }
            dim_reduction {
                pca {
                    method = 'pca'
                    nComps = 2
                }
            }
        }
    }
}

