
params {
    global {
        project_name = "single_sample_scenic_CI"
        tenx_folder = "sample_data/outs/filtered_feature_bc_matrix/"
    }
    sc {
        file_annotator {
            metaDataFilePath = ''
        }
        scenic {
            numWorkers = "2"
            grn {
                TFs = "https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/allTFs_hg38.txt"
            }
            cistarget {
                mtfDB = "https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/genome-ranking.feather"
                mtfANN = "https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/motifs.tbl"
                trkDB = ""
                trkANN = ""
            }
        }
    }
}

