
params {
    global {
        project_name = 'decontx_CI'
    }
    data {
        tenx {
            cellranger_mex = 'sample_data/outs'
        }
    }
    sc {
        file_annotator {
            metadataFilePath = ''
        }
        celda {
            container = 'vibsinglecellnf/celda:1.4.5'
            decontx {
                cell_filter {
                    off = 'h5ad'
                    method = 'internal'
                    filters = [[id:'DECONTX_FILTERED', sampleColumnName:'sample_id', filterColumnName:'celda_decontx__doublemad_predicted_outliers', valuesToKeepFromFilterColumn:['False']]]
                }
                strategy = 'filter'
                cell_annotate {
                    off = 'h5ad'
                    method = 'obo'
                    indexColumnName = 'index'
                }
                filters {
                    numMadsThresholds = [3]
                    contaminationScoreThresholds = [0.5]
                }
            }
        }
    }
}

