
params {
    global {
        project_name = 'single_sample_seurat_CI'
    }
    data {
        tenx {
            cellranger_mex = 'sample_data/outs'
        }
    }
    tools {
        seurat {
            filter {
                cellFilterMinNFeatures = 1
                cellFilterMaxPercentMito = -1
            }
            neighborhood_graph {
                nPcs = 2
            }
            dim_reduction {
                pca {
                    nComps = 2
                }
                umap {
                    nPcs = 2
                }
                tsne {
                    nPcs = 2
                }
            }
        }
    }
}

