
params {
    global {
        project_name = 'bbknn_scenic_CI'
    }
    data {
        tenx {
            cellranger_mex = "testdata/*/outs/"
        }
    }
    tools {
        scanpy {
            filter {
                cellFilterMinNGenes = 1
            }
            neighborhood_graph {
                nPcs = 2
            }
            dim_reduction {
                pca {
                    method = 'pca'
                    nComps = 2
                }
            }
        }
        scenic {
            numWorkers = 2
            grn {
                tfs = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/test_TFs_small.txt'
            }
            cistarget {
                motifsDb = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/genome-ranking.feather'
                motifsAnnotation = 'https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/motifs.tbl'
                tracksDb = ''
                tracksAnnotation = ''
            }
        }
    }
}

