
process {

    executor = 'local'

    /*
      This label is activated when using the profile "test__compute_resources", and overwrites all settings from other labels. 
      Used primarily to keep requested resources within the allowed bounds of GitHub Actions tests.
    */
    withLabel: 'compute_resources__.*' {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

}

