
params {
    global {
        project_name = 'harmony_CI'
    }
    data {
        tenx {
            cellranger_outs_dir_path = "testdata/*/outs/"
        }
    }
    sc {
        file_annotator {
            metaDataFilePath = ''
        }
        scanpy {
            filter {
                cellFilterMinNGenes = 1
            }
            neighborhood_graph {
                nPcs = 2
            }
            dim_reduction {
                pca {
                    dimReductionMethod = 'PCA'
                    nComps = 2
                }
            }
        }
    }
}

