params {
    sc {
        cellranger {
            container = 'file:///staging/leuven/res_00001/software/vsn_containers/vibsinglecellnf-cellranger-5.0.1.img'
        }
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--cleanenv -H $PWD -B /ddn1,/staging,/data,${VSC_SCRATCH}'
    cacheDir = '/staging/leuven/res_00001/software/vsn_containers/'
}
