params {
    sc {
        scanpy {
            batch_effect_correct {
                method = 'bbknn'
                report_ipynb = "${params.misc.test.enabled ? '../../..' : ''}/src/scanpy/bin/reports/sc_bbknn_report.ipynb"
                neighborsWithinBatch = 5
                nPcs = 20 
                trim = 0
                off = 'h5ad'
            }
        }
    }
}