params {
    sc {
        scanpy {
            batch_effect_correct {
                batchEffectCorrectionMethod = 'bbknn' 
                neighborsWithinBatch = 5
                nPcs = 20 
                trim = 0
                iff = '10x_mtx' 
                off = 'h5ad'
            }
        }
    }
}