params {
    sc {
        scanpy {
            filter {
                report_ipynb = "${params.misc.test.enabled ? '../../..' : ''}/src/scanpy/bin/reports/sc_filter_qc_report.ipynb"
                cellFilterStrategy = "fixedthresholds"
                cellFilterMinNGenes = 200
                cellFilterMaxNGenes = 4000
                //cellFilterMinNCounts = ''
                //cellFilterMaxNCounts = ''
                cellFilterMaxPercentMito = 0.15
                geneFilterMinNCells = 3
                off = 'h5ad'
                outdir = 'out'
            }
        }
    }
}
