params {
    tools {
        scanpy {
            batch_effect_correct {
                method = 'mnncorrect'
                report_ipynb = "${params.misc.test.enabled ? '../../..' : ''}/src/scanpy/bin/reports/sc_mnncorrect_report.ipynb"
                off = 'h5ad'
            }
        }
    }
}
