params {
    tools {
        sratoolkit {
            container = 'vibsinglecellnf/sratoolkit:2.9.4-1.1.0'
            // --include-technical option (fasterq-dump)
            // This option should be set to 'true' if data you're downloading is e.g.: 10x Genomics scATAC-seq
            includeTechnicalReads = false
            // --max-size (prefetch), maximum file size to download in KB (exclusive). Default: 20G
            maxSize = 20000000
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__sratoolkit' {
        executor = 'local'
        cpus = 4
        memory = '40 GB'
        time = '24h'
        maxForks = 1
        maxRetries = 5
        errorStrategy = 'retry'
    }
}

