params {
    sratoolkit {
        container = 'vibsinglecellnf/sratoolkit:2.9.4-1.1.0'
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__sratoolkit' {
        executor = 'local'
        cpus = 20
        memory = '40 GB'
        time = '24h'
        maxForks = 1
        maxRetries = 5
        errorStrategy = 'retry'

    }
}

