params {
    tools {
        celda {
            decontx {
                strategy = "filter"
                cell_filter {
                    filters = [
                        // Possible values for filterColumnName
                        // - celda_decontx__scater_isOutlier_<num-MAD>MAD_predicted_outliers
                        // - celda_decontx__doublemad_predicted_outliers
                        // - celda_decontx__custom_gt_<contamination-threshold>_predicted_outiers
                        [
                            id:'DECONTX_FILTERED',
                            sampleColumnName:'sample_id',
                            filterColumnName:'celda_decontx__doublemad_predicted_outliers',
                            valuesToKeepFromFilterColumn:['False']
                        ]
                    ]
                }
            }
        }
    }
}

