includeConfig '../../utils/conf/cell_annotate.config'
params.tools.celda.decontx.cell_annotate = params.tools.cell_annotate
params.tools.remove('cell_annotate')
includeConfig '../../utils/conf/cell_filter.config'
params.tools.celda.decontx.cell_filter = params.tools.cell_filter
params.tools.remove('cell_filter')
includeConfig './decontx_filter_defaults.config'

params {
    tools {
        celda {
            decontx {
                strategy = "filter" // choices: 'filter' (default), 'correct'
                // assayName = "counts"
                // z = NULL
                // batch = NULL
                // maxIter = 500
                // delta = c(10, 10)
                // estimateDelta = TRUE
                // convergence = 0.001
                // iterLogLik = 10
                // varGenes = 5000
                // dbscanEps = 1
                // logfile = NULL
                // verbose = TRUE

                cell_annotate {
                    indexColumnName = 'index'
                }

                filters {
                    numMadsThresholds = [3]
                    contaminationScoreThresholds = [0.5]
                }
            }
        }
    }
}

