params {
    tools {
        sinto {
            container = 'vibsinglecellnf/sinto:0.7.2-dev'
            fragments {
                min_mapq = 30
                barcodetag = 'CR'
                barcode_regex = ''
                use_chrom = '"(?i)^chr"'
                min_distance = 10
                max_distance = 5000
                chunksize = 5000000
                temp_dir = ''
            }
        }
    }
}

