params {
    tools {
        star {
            version = '2.7.1a'
            container = "/ddn1/vol1/staging/leuven/res_00001/software/STAR/${params.tools.star.version}/STAR_${params.tools.star.version}.sif"
            
            build_genome {
                runMode = 'genomeGenerate'
                sjdbOverhang = (20+50)-1
                genomeSAindexNbases = 13
            }

            map_count {
                fastqs = "/ddn1/vol1/staging/leuven/stg_00003/cbd-bioinf/CBD__PVDH__Leila_Ryohei__Human_Neuronal_Maturation/NextSeq500_20190926/2MX_SmartSeq_A*/01.CLEAN_FASTQ/*_R1.clean.fastq.gz"
                index = "/staging/leuven/res_00001/genomes/homo_sapiens/hg38_iGenomes/indexes/STAR/${params.tools.star.version}/"
                runThreadN = 8
                limitBAMsortRAM = 50000000000
                outSAMtype = 'BAM SortedByCoordinate'
                quantMode = 'GeneCounts'
                outReadsUnmapped = 'Fastx'
            }
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__star_build_genome' {
        cpus = 8
        memory = '60 GB'
        time = '1h'
    }
    withLabel: 'compute_resources__star_map_count' {
        cpus = 8
        memory = '60 GB'
        time = '1h'
        maxForks 2
    }
}

