params {
    sc {
        file_converter {
            iff = "10x_mtx"
            off = "h5ad"
            tagCellWithSampleId = true
            useFilteredMatrix = true
        }
        file_concatenator {
            join = 'outer'
            iff = '10x_mtx' 
            off = 'h5ad' 
        }
        star_concatenator {
            stranded = 'no'
            off = 'tsv'
        }
    }
}