params {
    utils {
        container = 'vibsinglecellnf/utils:0.3.0'
        workflow_configuration {
            report_ipynb = "${params.misc.test.enabled ? '../../..' : ''}/src/utils/bin/reports/workflow_configuration_template.ipynb"
        }
        publish {
            // pipelineOutputSuffix = ''
            compressionLevel = 6
        }
    }
    sc {
        file_converter {
            tagCellWithSampleId = true
            useFilteredMatrix = true
            makeVarIndexUnique = false
        }
    }
}
