params {
    utils {
        container = 'vibsinglecellnf/utils:0.3.0'
        publish {
            // pipelineOutputSuffix = ''
            compressionLevel = 6
            annotateWithBatchVariableName = false
        }
    }
    sc {
        file_converter {
            off = 'h5ad'
            tagCellWithSampleId = true
            useFilteredMatrix = true
            makeVarIndexUnique = false
        }
    }
}
