params {
    utils {
        cell_filter {
            off = 'h5ad'
            method = 'internal' // or 'external' (requires the following additional params cellMetaDataFilePath, sampleColumnName, indexColumnName)
            filters = [
                [
                    id: '', // Short identifier for the filter
                    indexColumnName: '',
                    filterColumnName: '',
                    valuesToKeepFromFilterColumn: ['']
                    // sampleColumnName: '',
                    // cellMetaDataFilePath: ''
                ]
            ]
            // publish = false
        }
    }
}
