params {
    sc {
        cell_annotate {
            off = 'h5ad'
            method = 'obo' // or 'aio'
            cellMetaDataFilePath = ''
            sampleSuffixWithExtension = ''
            indexColumnName = ''
            // sampleColumnName = ''
            // annotationColumnNames = ['']
        }
    }
}
