params {
    sc {
        cell_annotate {
            off = 'h5ad'
            method = 'obo' // or 'aio'
            indexColumnName = ''
            // cellMetaDataFilePath = '' // Required in static mode and with 'aio' method
            // sampleSuffixWithExtension = '' // Required in static mode and with 'aio' method
            // sampleColumnName = '' // Required with 'aio' method
            // annotationColumnNames = [''] // Required with 'aio' method
            // publish = false
        }
    }
}
