params {
    sc {
        cell_filter {
            iff = '10x_mtx'
            off = 'h5ad'
            filters = [
                [
                    id: '', // Short identifier for the filter
                    cellMetaDataFilePath: '',
                    sampleColumnName: '',
                    barcodeColumnName: '',
                    filterColumnName: '',
                    valuesToKeepFromFilterColumn: ['']
                ]
            ]
        }
    }
}
