params {
    sc {
        sample_annotate {
            off = 'h5ad'
            by {
                metadataFilePath = 'data/10x/1k_pbmc/metadata.tsv'
                method = 'sample'
                sampleColumnName = 'sample_id'
                compIndexColumnNames = [
                    "<adataIndexColumnName>" : "<metadataIndexColumnName>"
                ]
                annotationColumnNames = []
            }
        }
    }
}