params {
    global {
        outdir = 'out'
    }
    utils {
        container = 'dweemx/sctx-utils:0.0.1'
        sra_metadata {
            sraDb = ''
            sraDbForceDownload = false
            sraDbOutDir = '/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/resources/sra'
        }
    }
}
