params {
    global {
        outdir = 'out'
    }
    sc {
        utils {
            sra_metadata {
                sraDb = ''
                sraDbForceDownload = false
                sraDbOutDir = '/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/resources/sra'
            }
        }
    }
}
