params {
    global {
        outdir = 'out'
    }
    data {
        sra = [
            [
                id:'SRP125768',
                samples: [
                    "DGRP-551_.*d_r[0-9]+(?! )", 
                    "w1118_.*d_r[0-9]+(?! )"
                ]
            ]
        ]
    }
    utils {
        container = 'vibsinglecellnf/utils:0.3.0'
        sra_metadata {
            mode = 'web' // or db
            // sraDb = ''
            // sraDbForceDownload = false
            // sraDbOutDir = ''
        }
    }
}
