params {
    utils {
        sra_normalize_fastqs {
            // Downloading FASTQ from SRA will give FASTQ in the following format SRRXXXXXX_[1-9].fastq. This index minus one will be used to retrieve the FASTQ read suffix from the array of suffixes defined hereunder
            fastq_read_suffixes = ["R1","R2"] // ["R1","R2","I1","I2"] would be used for SRR11442498 (this requires params.tools.sratoolkit.includeTechnicalReads = true)
        }
    }
}
