params {
    tools {
        scanpy {
            container = 'vibsinglecellnf/scanpy:1.8.1'
        }
    }
    utils {
        file_converter {
            iff = '10x_cellranger_mex'
            off = 'h5ad' 
            useFilteredMatrix = true
        }
        file_annotator {
            iff = '10x_cellranger_mex'
            off = 'h5ad' 
            type = 'sample' 
            metadataFilePath = '/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/TWE/cellranger/metadata.tsv'
        }
        file_concatenator {
            join = 'outer'
            iff = '10x_cellranger_mex' 
            off = 'h5ad' 
        }
    }
}
