*checkpoint.ipynb
*checkpoint*
*checkpoint.py
*.test.ipynb
*.csv
*.loom
*.pickle
*.pyc
*.html
*egg*
.vscode
.nextflow
.nextflow*
data
refdata
work
out/notebooks
src/scenic/out
src/scenic/notebooks
src/scenic/data
refdata
data/10x/tiny
work/
out/
tests/
debug/
*.swp
*.swo
