params {
    sc {
        scater {
            container = 'qrouchon/r-norm:latest'
            filter {
                cellFilterMinNGenes = 200
                cellFilterMaxNGenes = 4000
                cellFilterMaxPercentMito = 0.15
                geneFilterMinNCells = 3
                iff = "10x_mtx"
                off = "h5ad"
                outdir = "out"
            }


        }
    }
}