params {
    tools {
        bap {
            barcode_multiplet {
                report_ipynb = '/src/bap/bin/bap_barcode_multiplet_report.ipynb'
                bead_tag = 'CB' // existing tag in bam file
                drop_tag = 'DB' // new tag with merged barcodes
                // filters:
                minimum_barcode_fragments = 1000 // if set to 0, this is determined automatically via knee-calling
                barcode_whitelist  = '' // use in place of the 'minimum_barcode_fragments' threshold
                minimum_jaccard_index = 0.0
                nc_threshold = 6
                regularize_threshold = 4
                mapq = 30
                max_insert = 2000
                //
                reference_genome = 'hg38'
                // set in place of reference genome above:
                bedtools_genome = ''
                blacklist_file = ''
                tss_file = ''
                mito_chromosome = 'default'
            }
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__bap_barcode_multiplet_pipeline' {
        executor = 'pbs' // or 'local'
        cpus = 20 
        memory = '120 GB'
        time = '24h'
        maxForks = 1
    }
}

