includeConfig './conf/base.config'
includeConfig '../utils/conf/cell_annotate.config'
params.tools.scrublet.cell_annotate = params.sc.cell_annotate
params.tools.remove('cell_annotate')
includeConfig '../utils/conf/cell_filter.config'
params.tools.scrublet.cell_filter = params.sc.cell_filter
params.tools.remove('cell_filter')
includeConfig './conf/scrublet_defaults.conf'

