includeConfig './conf/base.config'
includeConfig '../utils/conf/cell_annotate.config'
params.tools.scrublet.cell_annotate = params.tools.cell_annotate
params.sc.remove('cell_annotate')
includeConfig '../utils/conf/cell_filter.config'
params.tools.scrublet.cell_filter = params.tools.cell_filter
params.sc.remove('cell_filter')
includeConfig './conf/scrublet_defaults.conf'

