params {
    tools {
        singlecelltoolkit {
            container = 'vibsinglecellnf/singlecelltoolkit:2021-03-03-21d4f50'
            barcode_correction {
                whitelist {
                    standard = ''
                    multiome = ''
                }
            }
            barcode_10x_scatac_fastqs {
                uncorrected_bc_tag = 'CR'
                barcode_quality_tag = 'CY'
            }
        }
    }
}

