params {
    tools {
        singlecelltoolkit {
            container = 'vibsinglecellnf/singlecelltoolkit:2021-02-25-f35b286'
            barcode_correction {
                whitelist {
                    standard = ''
                    multiome = ''
                }
            }
        }
    }
}

