params {
    dropseqtools {
        tag_unaligned_bam_with_cellbarcode {
            baseRange = "1-12"
            baseQuality = 10
            barcodedRead = 1
            discardRead = "False"
            barcodeTagName = "XC"
            numBasesBelowQuality = 1
        }

        tag_unaligned_bam_with_cellmolecular {
            baseRange = "13-20"
            baseQuality = 10
            barcodedRead = 1
            discardRead = "True"
            barcodeTagName = "XM"
            numBasesBelowQuality = 1
        }

    }
}