params {
    sc {
        dropseqsc {
            container = 'humancellatlas/dropseqtools:1.12'

            tag_unaligned_bam_with_cellbarcode {
                baseRange = '1-12'
                baseQuality = 10
                barcodedRead = 1
                discardRead = 'False'
                barcodeTagName = 'XC'
                numBasesBelowQuality = 1
            }

            tag_unaligned_bam_with_cellmolecular {
                baseRange = '13-20'
                baseQuality = 10
                barcodedRead = 1
                discardRead = 'True'
                barcodeTagName = 'XM'
                numBasesBelowQuality = 1
            }

            filter_unaligned_tagged_bam {
                tagReject = 'XQ'
            }

            trim_smart_unaligned_tagged_filtered_bam {
                adapterSequence = 'AAGCAGTGGTATCAACGCAGAGTGAATGGG'
                mismatches = 0
                numBases = 5
            }
            
            trim_polya_unaligned_tagged_trimmed_smart {
                mismatches = 0
                numBases = 6
            }

            tag_read_with_gene_exon {
                tag = 'GE'
            }

            detect_repair_barcode_synthesis_errors {
                numBarcodes = 2000
                primerSequence = 'AAGCAGTGGTATCAACGCAGAGTAC'
            }
            
            bam_tag_histogram {
                tag = 'XC'
            }
        }
    }
}
