manifest {
   name = 'vib-singlecell-nf/vsn-pipelines'
   description = 'A repository of pipelines for single-cell data in Nextflow DSL2'
   homePage = 'https://github.com/vib-singlecell-nf/vsn-pipelines'
   version = '0.8.0'
   mainScript = 'main.nf'
   defaultBranch = 'master'
   nextflowVersion = '!19.12.0-edge'
}

params {
   global {
      project_name = 'Hung2019_10x_Gut'
      outdir = 'out'
      qsubaccount = 'lp_symbiosys'
   }
   sc {
      scanpy {
         container = 'vibsinglecellnf/scanpy:0.5.0'
         filter {
            report_ipynb = '/src/scanpy/bin/reports/sc_filter_qc_report.ipynb'
            cellFilterMinNGenes = 100
            cellFilterMaxPercentMito = 0.25
            geneFilterMinNCells = 3
            iff = '10x_cellranger_mex'
            off = 'h5ad'
            outdir = 'out'
         }
         data_transformation {
            dataTransformationMethod = 'log1p'
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         normalization {
            normalizationMethod = 'cpx'
            countsPerCellAfter = 10000
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         feature_selection {
            report_ipynb = '/src/scanpy/bin/reports/sc_select_variable_genes_report.ipynb'
            featureSelectionMethod = 'mean_disp_plot'
            featureSelectionMinMean = 0.0125
            featureSelectionMaxMean = 3
            featureSelectionMinDisp = 0.5
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         feature_scaling {
            featureScalingMthod = 'zscore_scale'
            featureScalingMaxSD = 10
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         dim_reduction {
            report_ipynb = '/src/scanpy/bin/reports/sc_dim_reduction_report.ipynb'
            pca {
               dimReductionMethod = 'PCA'
               iff = '10x_cellranger_mex'
               off = 'h5ad'
            }
            umap {
               dimReductionMethod = 'UMAP'
               iff = '10x_cellranger_mex'
               off = 'h5ad'
            }
            tsne {
               dimReductionMethod = 't-SNE'
               nJobs = 10
               iff = '10x_cellranger_mex'
               off = 'h5ad'
            }
         }
         clustering {
            report_ipynb = '/src/scanpy/bin/reports/sc_clustering_report.ipynb'
            clusteringMethod = 'louvain'
            resolution = 2
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
         marker_genes {
            method = 'wilcoxon'
            ngenes = 0
            groupby = 'louvain'
            off = 'h5ad'
         }
         batch_effect_correct {
            report_ipynb = '/src/scanpy/bin/reports/sc_bbknn_report.ipynb'
            batchEffectCorrectionMethod = 'bbknn'
            neighborsWithinBatch = 5
            trim = 0
            iff = '10x_cellranger_mex'
            off = 'h5ad'
         }
      }
      scenic {
         container = 'vibsinglecellnf/scenic:0.9.19'
         scenicoutdir = 'out/scenic/'
         report_ipynb = '/src/scenic/bin/reports/scenic_report.ipynb'
         filteredLoom = ''
         scenicOutputLoom = 'SCENIC_output.loom'
         scenicScopeOutputLoom = 'SCENIC_SCope_output.loom'
         numWorkers = 16
         mode = 'dask_multiprocessing'
         client_or_address = ''
         cell_id_attribute = 'CellID'
         gene_attribute = 'Gene'
         grn {
            TFs = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/resources/allTFs_dmel.txt'
            seed = ''
            pmem = '2gb'
            maxForks = 1
            numWorkers = 16
         }
         cistarget {
            adj = 'adj.tsv'
            // motif feather format databases
            mtfDB = "/staging/leuven/res_00001/databases/cistarget/databases/drosophila_melanogaster/dm6/flybase_r6.02/mc8nr/gene_based/dm6-5kb-upstream-full-tx-11species.mc8nr.feather" 
            // motif annotations
            mtfANN = "/staging/leuven/res_00001/databases/cistarget/motif2tf/motifs-v8-nr.flybase-m0.001-o0.0.tbl"
            // track feather format databases
            trkDB = "/ddn1/vol1/staging/leuven/stg_00002/lcb/saibar/Projects/epiSCENIC/2019-06_ChipDB/Chip_dbs_v2_20190627/encode_modERN_20190621__ChIP_seq.max_GENEBASED.feather"
            // track annotations
            trkANN = "/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/resources/scenic/db/dm6/encode_modERN_20190621_dm6_annotation.track_to_tf_in_motif_to_tf_format.tsv"
            type = ''
            output = 'reg.csv'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            min_orthologous_identity = 0.0
            max_similarity_fdr = 0.001
            annotations_fname = ''
            thresholds = '0.75,0.90'
            top_n_targets = 50
            top_n_regulators = '5,10,50'
            min_genes = 20
            pmem = '2gb'
            maxForks = 1
            numWorkers = 16
         }
         aucell {
            output = 'aucell_output.loom'
            rank_threshold = 5000
            auc_threshold = 0.05
            nes_threshold = 3.0
            pmem = '2gb'
            maxForks = 1
            numWorkers = 16
         }
      }
      cellranger {
         container = 'vibsinglecellnf/cellranger:3.1.0'
         labels {
            processExecutor = 'qsub'
         }
         count {
            transcriptome = '/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/resources/refs/flybase/r6.31_premrna_v3/cellranger/3.1.0/flybase_r6.31_premrna_v3.1'
            ppn = 34
            pmem = '5400mb'
            maxForks = 2
         }
      }
      scope {
         genome = 'Flybase r6.31 pre-mRNA (https://github.com/FlyCellAtlas/genome_references/commit/a0c77d922ce88d9df1f72b79ab59996898bac78c)'
         tree {
            level_1 = 'Gut'
            level_2 = 'Adult'
            level_3 = ''
         }
      }
      file_converter {
         iff = '10x_cellranger_mex'
         off = 'h5ad'
         tagCellWithSampleId = true
         useFilteredMatrix = true
      }
      file_concatenator {
         join = 'outer'
         iff = '10x_cellranger_mex'
         off = 'h5ad'
      }
      star_concatenator {
         stranded = 'no'
         off = 'tsv'
      }
   }
   data {
      // Based on SRA Project Identifiers
      sra = [
         [
            id: 'SRP162698',
            samples: ["10x, sample 1", "10x, sample 2"] // Use Unix globbing
         ]
      ]
   }
   utils {
      container = 'vibsinglecellnf/utils:0.2.1'
      sra_metadata {
         mode = 'web'
      }
      workflow_configuration {
         report_ipynb = '/src/utils/bin/reports/workflow_configuration_template.ipynb'
      }
   }
   sratoolkit {
      container = 'dweemx/sctx-sratoolkit:2.9.4-1.1.0'
      downloadFastqs {
         threads = 8
         maxForks = 1
      }
   }
   pcacv {
      container = 'vibsinglecellnf/pcacv:0.1.0'
      find_optimal_npcs {
         accessor = '@assays$RNA@scale.data'
      }
   }
   parseConfig = { sample, paramsGlobal, paramsLocal ->
       def pL = paramsLocal.collectEntries { k,v ->
           if (v instanceof Map) {
               if (v.containsKey(sample))
                   return [k, v[sample]]
               if (v.containsKey('default'))
                   return [k, v['default']]
                throw new Exception("Not a valid entry in " + k + ". The sample " + sample + " is not found in " + v +" ; Make sure your samples are correctly specified when using the multi-sample feature.")
           } else {
               return [k,v]
           }
       }
       return [global: paramsGlobal, local: pL]
   }
}

process {
   executor = 'local'
   withLabel:qsub {
      executor = 'pbs'
   }
   withLabel:local {
      executor = 'local'
   }
}

timeline {
   enabled = true
   file = 'out/nextflow_reports/execution_timeline.html'
}

report {
   enabled = true
   file = 'out/nextflow_reports/execution_report.html'
}

trace {
   enabled = true
   file = 'out/nextflow_reports/execution_trace.txt'
}

dag {
   enabled = true
   file = 'out/nextflow_reports/pipeline_dag.svg'
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/,/staging/leuven/stg_00002/'
}
