params {
    sc {
        archr {
            container = 'vibsinglecellnf/archr:2020-07-13-ddcaae4'
            genome = 'hg38'
            createArrow {
                filter_frags = 1000
                filter_tss = 8
                min_frags = 10
            }
            cell_calling {
                filter_frags = 1000
                filter_tss = 8
                min_frags = 10
            }
        }
    }
}

