params {
    tools {
        pycistopic {
            biomart_annot {
                biomart_dataset_name = 'mmusculus_gene_ensembl'
                biomart_host = 'http://nov2020.archive.ensembl.org/'
            }
            macs2_call_peaks {
                gsize = 'mm' // hs, mm, ce, dm, or numeric effective genome size, e.g. '2.7e9'
            }
        }
    }
}

