params {
    tools {
        pycistopic {
            biomart_annot {
                biomart_dataset_name = 'hsapiens_gene_ensembl'
                biomart_host = 'http://www.ensembl.org'
            }
            macs2_call_peaks {
                gsize = 'hs' // hs, mm, ce, dm, or numeric effective genome size, e.g. '2.7e9'
            }
        }
    }
}

