params {
    global {
        outdir = 'out'
    }
    sratoolkit {
        container = 'dweemx/sctx-sratoolkit:2.9.4-1.1.0'
        downloadFastqs {
            threads = 10
            maxForks = 1
        }
    }
    sc {
        cellranger {
            container = '/ddn1/vol1/staging/leuven/res_00001/software/CellRanger/3.1.0/CellRanger_3.1.0.sif'
            //container = '/ddn1/vol1/staging/leuven/res_00001/software/CellRanger/2.2.0/cellranger_2.2.0.sif'
            count {
                // transcriptome = ''
                // libraries = ''
                // featureRef = ''
                // expectCells = ''
                // forceCells = ''
                // nosecondary = ''
                // noLibraries = ''
                chemistry = 'SC3Pv2'
                // r1Length = ''
                // r2Length = ''
                // lanes = ''
                localCores = 5
                // localMem = ''
                // indicies = ''
            }
        }
        utils {
            sra_metadata {
                sraDb = ''
                sraDbForceDownload = false
                sraDbOutDir = '/ddn1/vol1/staging/leuven/stg_00002/lcb/dwmax/documents/resources/sra'
            }
        }
    }
}

singularity {
   enabled = true
   autoMounts = true
   runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/,/staging/leuven/stg_00002/'
}
