params {
    // These parameters are passed to all processes
    global {
        project_name = '10x_PBMC'
        outdir = 'out'
        qsubaccount = ''
    }
    data {
        tenx {
            cellranger_outs_dir_path = "data/10x/1k_pbmc/1k_pbmc_*/outs/"
        }
    }
    sc {
        scanpy {
            container = 'aertslab/sctx-scanpy:0.5.0'
        }
        sc_file_converter {
            iff = '10x_cellranger_mex'
            off = 'h5ad' 
            useFilteredMatrix = true
        }
	    cell_filter {
          iff = '10x_cellranger_mex'
          off = 'h5ad'
          filters = [
              [
                  id: '', // Short identifier for the filter
                  cellMetaDataFilePath: ''
                  sampleColumnName: '',
                  barcodeColumnName: '',
                  filterColumnName: '',
                  valuesToKeepFromFilterColumn: ['']
              ]
          ]
        }
    }
}
