params {
    // These parameters are passed to all processes
    global {
        project_name = '10x_PBMC'
        outdir = 'out'
        tenx_folder = '/ddn1/vol1/staging/leuven/stg_00002/lcb/zkalender/Runs/NovaSeq6000_20190731/JCM__4f31de__10x_scRNA_DMSO_b/outs/filtered_feature_bc_matrix/'
        qsubaccount = ''
    }
    sc {
        scanpy {
            container = 'aertslab/sctx-scanpy:0.5.0'
        }
        sc_file_converter {
            iff = '10x_mtx'
            off = 'h5ad' 
            useFilteredMatrix = true
        }
	    cell_filter {
            iff = '10x_mtx'
            off = 'h5ad'
            filters = [
                [
                    id: 'FREEMUXLET', // Short identifier for the filter
                    cellMetaDataFilePath: '/ddn1/vol1/staging/leuven/stg_00002/lcb/kspan/JCM/scRNA/NovaSeq6000_20190731/freemuxlet/cell_barcode_2_cell_line_assignment_CDK7_and_Menin.tsv',
                    sampleColumnName: 'mix',
                    barcodeColumnName: 'BARCODE',
                    filterColumnName: 'DROPLET.TYPE',
                    valuesToKeepFromFilterColumn: ['SNG']
                ]
            ]
        }
        cell_annotate {
            iff = '10x_mtx'
            off = 'h5ad'
            cellMetaDataFilePath = '/ddn1/vol1/staging/leuven/stg_00002/lcb/kspan/JCM/scRNA/NovaSeq6000_20190731/freemuxlet/cell_barcode_2_cell_line_assignment_CDK7_and_Menin.tsv'
            indexColumnName = 'BARCODE'
            annotationColumnNames = ['freemuxlet_cluster', 'cell_line']
            dropDuplicates = true
        }
    }
}
