params {
    // These parameters are passed to all processes
    global {
        project_name = '10x_PBMC'
        outdir = 'out'
        qsubaccount = ''
    }
    data {
        tenx {
            cellranger_outs_dir_path = ''
        }
    }
    sc {
        scanpy {
            container = 'aertslab/sctx-scanpy:0.5.0'
        }
        sc_file_converter {
            iff = '10x_mtx'
            off = 'h5ad' 
            useFilteredMatrix = true
        }
	    cell_filter {
            iff = '10x_mtx'
            off = 'h5ad'
            filters = [
                [
                    id: '', // Short identifier for the filter
                    cellMetaDataFilePath: '',
                    sampleColumnName: '',
                    barcodeColumnName: '',
                    filterColumnName: '',
                    valuesToKeepFromFilterColumn: ['']
                ]
            ]
        }
        cell_annotate {
            iff = '10x_mtx'
            off = 'h5ad'
            cellMetaDataFilePath = ''
            indexColumnName = ''
            annotationColumnNames = ['', '']
        }
    }
}
