params {
    sc {
        scrublet {
            container = 'vibsinglecellnf/scrublet:0.1.4'
            doublet_detection {
                report_ipynb = "${params.misc.test.enabled ? '../../..' : ''}/src/scrublet/bin/reports/sc_doublet_detection_report.ipynb"
                useVariableFeatures = 'False'
                technology = '10x'
                off = 'h5ad'
                // Scrublet parameters
                // syntheticDoubletUmiSubsampling = ''
                // minCounts = ''
                // minCells = ''
                // minGeneVariabilityPctl = ''
                // logTransform = ''
                // meanCenter = ''
                // normalizeVariance = ''
                // nPrinComps = ''
                // threshold = ''
            }
        }
    }
}

