params {
    tools {
        cellranger_atac {
            count {
                reference = '/ddn1/vol1/staging/leuven/stg_00002/resources/cellranger-atac/refdata-cellranger-atac-GRCh38-1.0.0'
                // forceCells = ''
                // dimReduce = ''
                // downsample = ''
                // lanes = ''

                // set via process labels:
                // localCores = ''
                // localMem = ''
            }

        }
    }
}
