params {
    tools {
        cellranger_atac {
            mkfastq {
                // https://support.10xgenomics.com/single-cell-atac/software/pipelines/latest/using/mkfastq
                runFolder = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/vib-singlecell-nf/testing_atac/cellranger-atac/cellranger-atac-tiny-bcl-1.0.0/'
                csv = '/ddn1/vol1/staging/leuven/stg_00002/lcb/cflerin/testruns/vib-singlecell-nf/testing_atac/cellranger-atac/cellranger-atac-tiny-bcl-simple-1.0.0.csv'
                // samplesheet = ''
                // qc = false
                // lanes = 1
                // useBasesMask = ''
                // deleteUndetermined = false
                // outputDir = ''
                // project = ''

                // set via process labels:
                // jobMode = ''
                // localCores = ''
                // localMem = ''
            }
        }
    }
}

