params {
    sc {
        cellranger {
            container = 'vibsinglecellnf/cellranger:3.1.0'
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__cellranger_mkfastq' {
        executor = 'pbs' // or 'local'
        cpus = 6
        memory = '40 GB'
        time = '1h'
        maxForks = 1
    }
    withLabel: 'compute_resources__cellranger_count' {
        executor = 'pbs' // or 'local'
        cpus = 20
        memory = '120 GB'
        time = '24h'
        maxForks = 1
    }
}

