params {
    tools {
        cellranger {
            container = '/path/to/cellranger/cellranger'
        }
    }
}

if(vsc && vsc.enabled) {
    params {
        sc {
            cellranger {
                container = 'file:///staging/leuven/res_00001/software/vsn_containers/vibsinglecellnf-cellranger-5.0.1.img'
            }
        }
    }
}

// define computing resources via process labels
process {
    withLabel: 'compute_resources__cellranger_mkfastq' {
        executor = 'pbs' // or 'local'
        cpus = 6
        memory = '40 GB'
        time = '1h'
        maxForks = 1
    }
    withLabel: 'compute_resources__cellranger_count' {
        executor = 'pbs' // or 'local'
        cpus = 20
        memory = '120 GB'
        time = '24h'
        maxForks = 1
    }
}

