params {
    sc {
        cellranger {
            mkfastq {
                // https://support.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/using/mkfastq
                // samplesheet = ''
                runFolder = '/staging/leuven/stg_00002/lcb/ngs_runs/NextSeq500_20190522/190522_NB501171_0382_AHHJN2BGXB/'
                // runID = ''
                csv = '/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/TWE/analysis/singlecelltxbenchmark/cellranger_testing/NextSeq500_20190522_SampleSheet.csv'
                // ignoreDualIndex = false
                // qc = false
                // lanes = 1
                // useBasesMask = ''
                // deleteUndetermined = false
                // outputDir = ''
                // project = ''

                // set via process labels:
                // jobMode = ''
                // localCores = ''
                // localMem = ''
            }
        }
    }
}
