params {
    atac_preprocess_tools {
        mark_duplicates_method = 'MarkDuplicates'
        adapter_trimming_method = 'Trim_Galore'
    }
    data {
        atac_preprocess {
            metadata = 'metadata.tsv'
        }
    }
}

includeConfig './../../src/singlecelltoolkit/singlecelltoolkit.config'
includeConfig './../../src/singlecelltoolkit/conf/sctk_mapping.config'
includeConfig './../../src/trimgalore/trimgalore.config'
includeConfig './../../src/fastp/fastp.config'
includeConfig './../../src/bwamaptools/bwamaptools.config'
includeConfig './../../src/gatk/gatk.config'
includeConfig './../../src/bwamaptools/conf/bwa_mapping.config'
includeConfig './../../src/sinto/sinto.config'
includeConfig './../../src/bap/bap.config'
//includeConfig './../../src/bap/conf/bap_biorad_debarcode.config'

