params {
    data {
        atac_preprocess {
            metadata = 'metadata.tsv'
        }
    }
}

includeConfig './../../src/singlecelltoolkit/singlecelltoolkit.config'
includeConfig './../../src/trimgalore/trimgalore.config'
includeConfig './../../src/bwamaptools/bwamaptools.config'
includeConfig './../../src/sinto/sinto.config'
includeConfig './../../src/bap/bap.config'
