params {
    tag = "0.0.1"
    baseFilePath = "/tmp/SingleCellTxBenchmark"
    project_name = "tiny"
    outdir = "out"
    SC__FILE_CONVERTER___iff = "10x_mtx" 
    SC__FILE_CONVERTER___off = "h5ad" 
    SC__FILE_ANNOTATOR___iff = "10x_mtx" 
    SC__FILE_ANNOTATOR___off = "h5ad" 
    SC__FILE_ANNOTATOR___type = "sample" 
    SC__FILE_ANNOTATOR___metaDataFilePath = ''
    SC__SCANPY_FILTER___cellFilterMinNGenes = 200 
    // SC__SCANPY_FILTER___cellFilterMaxNGenes = 4000
    SC__SCANPY_FILTER___cellFilterMaxPercentMito = 0.15 
    SC__SCANPY_FILTER___geneFilterMinNCells = 3 
    SC__SCANPY_FILTER___iff = "10x_mtx" 
    SC__SCANPY_FILTER___off = "h5ad" 
    SC__SCANPY_FILTER___outdir = "out"
    SC__FILE_CONCATENATOR___join = 'outer'
    SC__FILE_CONCATENATOR___iff = '10x_mtx' 
    SC__FILE_CONCATENATOR___off = 'h5ad' 
    SC__SCANPY__DATA_TRANSFORMATION___dataTransformationMethod = 'log1p' 
    SC__SCANPY__DATA_TRANSFORMATION___iff = '10x_mtx' 
    SC__SCANPY__DATA_TRANSFORMATION___off = 'h5ad' 
    SC__SCANPY__NORMALIZATION___normalizationMethod = 'cpx' 
    SC__SCANPY__NORMALIZATION___countsPerCellAfter = 10000 
    SC__SCANPY__NORMALIZATION___iff = '10x_mtx' 
    SC__SCANPY__NORMALIZATION___off = 'h5ad' 
    SC__SCANPY__FEATURE_SELECTION___featureSelectionMethod = 'mean_disp_plot' 
    SC__SCANPY__FEATURE_SELECTION___featureSelectionMinMean = 0.0125  // 0.125
    SC__SCANPY__FEATURE_SELECTION___featureSelectionMaxMean = 3  // 2.5
    SC__SCANPY__FEATURE_SELECTION___featureSelectionMinDisp = 0.5  //0.7
    SC__SCANPY__FEATURE_SELECTION___iff = '10x_mtx' 
    SC__SCANPY__FEATURE_SELECTION___off = 'h5ad' 
    SC__SCANPY__FEATURE_SCALING___featureScalingMthod = 'zscore_scale' 
    SC__SCANPY__FEATURE_SCALING___featureScalingMaxSD = 10 
    SC__SCANPY__FEATURE_SCALING___iff = '10x_mtx' 
    SC__SCANPY__FEATURE_SCALING___off = 'h5ad' 
    SC__SCANPY__DIM_REDUCTION__PCA___dimReductionMethod = 'PCA' 
    SC__SCANPY__DIM_REDUCTION__PCA___nComps = 50 
    SC__SCANPY__DIM_REDUCTION__PCA___iff = '10x_mtx' 
    SC__SCANPY__DIM_REDUCTION__PCA___off = 'h5ad' 
    SC__SCANPY__BATCH_EFFECT_CORRECT___batchEffectCorrectionMethod = 'bbknn' 
    SC__SCANPY__BATCH_EFFECT_CORRECT___neighborsWithinBatch = 5
    SC__SCANPY__BATCH_EFFECT_CORRECT___nPcs = 20 
    SC__SCANPY__BATCH_EFFECT_CORRECT___trim = 0
    SC__SCANPY__BATCH_EFFECT_CORRECT___iff = '10x_mtx' 
    SC__SCANPY__BATCH_EFFECT_CORRECT___off = 'h5ad' 
    SC__SCANPY__CLUSTERING___clusteringMethod = 'Louvain' 
    SC__SCANPY__CLUSTERING___resolution = 0.8 
    SC__SCANPY__CLUSTERING___iff = '10x_mtx' 
    SC__SCANPY__CLUSTERING___off = 'h5ad' 
    SC__SCANPY__DIM_REDUCTION__UMAP___dimReductionMethod = 'UMAP' 
    SC__SCANPY__DIM_REDUCTION__UMAP___nComps = 20 
    SC__SCANPY__DIM_REDUCTION__UMAP___iff = '10x_mtx' 
    SC__SCANPY__DIM_REDUCTION__UMAP___off = 'h5ad'
}

profiles {

    singularity {
        singularity.enabled = true
        process.container = 'dweemx/sctx-scanpy:' + params.tag
        singularity.autoMounts = true
        singularity.runOptions = '-B /ddn1/vol1/staging/leuven/stg_00002/:/ddn1/vol1/staging/leuven/stg_00002/ -B /staging/leuven/stg_00002/:/staging/leuven/stg_00002/'
    }

}
