params {
    tools {
        seurat {
            container = 'kverstae/r-seurat:4.0.1'
            scaling {
                onlyVarFeatures = false
                off = 'Rds'
            }
            feature_selection {
                method = 'vst'
                nFeatures = 2000
                report_rmd = "${params.misc.test.enabled ? '../../..' : ''}/src/seurat/bin/reports/sc_hvg_report.Rmd"
                off = 'Rds'
            }
            neighborhood_graph {
                nPcs = 30
                off = 'Rds' 
            }
            dim_reduction {
                report_rmd = "${params.misc.test.enabled ? '../../..' : ''}/src/seurat/bin/reports/sc_dim_reduction_report.Rmd"
                pca {
                    method = 'pca'
                    nComps = 50
                    off = 'Rds'
                }
                umap {
                    method = 'umap'
                    algorithm = 'uwot'
                    nPcs = 30
                    off = 'Rds'
                }
                tsne {
                    method = 'tsne'
                    algorithm = 'Rtsne'
                    nPcs = 30
                    off = 'Rds'
                }
            }
            clustering {
                algorithm = 'Louvain'
                resolution = 0.8
                report_rmd = "${params.misc.test.enabled ? '../../..' : ''}/src/seurat/bin/reports/sc_clustering_report.Rmd"
                off = 'Rds'
            }
            marker_genes {
                method = 'wilcox'
                logfcThreshold = 0.25
                minPct = 0.1
                onlyPos = false
                off = 'Rds'
            }
        }
    }
    sc {
        file_converter {
            off = 'seurat_rds'
        }
    }
}

includeConfig 'filter.config'
includeConfig 'normalization.config'