params {
    tools {
        seurat {
            filter {
                cellFilterMinNFeatures = 200
                cellFilterMaxNFeatures = -1
                //cellFilterMinCounts = ''
                //cellFilterMaxCounts = ''
                cellFilterMaxPercentMito = 0.15
                mitoPrefix = 'MT-'
                featureFilterMinNCells = 3
                off = 'Rds'
                report_rmd = "${params.misc.test.enabled ? '../../..' : ''}/src/seurat/bin/reports/sc_filtering_report.Rmd"
            }
        }
    }
}