params {
    tools {
        seurat {
            filter {
                cellFilterMinNGenes = 200
                cellFilterMaxNGenes = -1
                //cellFilterMinCounts = ''
                //cellFilterMaxCounts = ''
                cellFilterMaxPercentMito = 0.15
                mitoPrefix = 'MT-'
                featureFilterMinNCells = 3
                off = 'Rds'
            }
        }
    }
}