params {
	Seurat {
		markerGenes {
			markerGenes = null // example : "CCR10,CCR7,CD14,CD160,CD19,CD27,CD28,CD34,CD3D,CD4,CD79A,CD8A,CD8B,CST3,EBF1,ENTPD1,FCER1A,FCGR3A,FGR,FOXP3,GLIPR2,GNLY,ICOS,ID3,IFI30,IGJ,IL2RA,IL3RA,IL7R,ITGAX,KLRC1,KLRD1,LY86,LYZ,MS4A1,MS4A7,MZB1,NCAM1,NKG7,NRP1,PF4,PPBP,S100A4,SELL"
		}
	}
}
