params {
    tools {
        seurat {
            normalization {
                method = 'LogNormalize'
                scaleFactor = 10000
                off = 'Rds'
                sct {
                    assayName = 'SCT'
                    nCells = 5000
                    nVariableFeatures = 3000
                    onlyVarFeatures = true
                    off = 'Rds'
                }
            }
        }
    }
}
