params{
	Seurat{
		RNA{
			outputFormat = "rds"
		}
	}
}
includeConfig './seuratObjBuilder.config'
includeConfig './RNAQc.config'
includeConfig './thresholdFiltering.config'
includeConfig './scTransform.config'
includeConfig './findVariableFeatures.config'
includeConfig './markerGenes.config'
includeConfig './pca.config'
includeConfig './clustering.config'
includeConfig './annotationGraphs.config'
