params {
	Seurat {
		dimensionalityReduction {
			tsne {
				reduction = "dist" // pca, ica or dist (will calculate a distance matrix)
				dims = null
				seedUse = null
				tsneMethod = null
				addIter = null
				dimEmbed = null
				distanceMatrix = null
				perplexity = 100
				//reductionName = null
				//reductionKey = null
				//cells = null
				//features = null
			}
		}
	}
}
