params {
    sc {
        directs {
            container = 'vibsinglecellnf/directs:0.1.0'
            select_default_clustering {
                cellEmbeddingsIndex = 0
                fromMinClusterSize = 5
                toMinClusterSize = 100
                byMinClusterSize = 5
                fromMinSamples = 5
                toMinSamples = 100
                byMinSamples = 5
            }
        }
    }
}

