includeConfig '../../../conf/global.config'
includeConfig '../../../conf/singularity.config'

params {
    tools {
        directs {
            inputLoom = '/ddn1/vol1/staging/leuven/stg_00002/lcb/lcb_projects/fca/analysis/in-house/20200520_000__all__4b9e9810-8600-11ea-867e-a0000220fe80/out/data/20200520_FCA_BioHub_B1_B2_All.HARMONY_SCENIC.loom'
        }
    }
}
includeConfig 'base.config'