params {
    tools {
        bcl2fastq {
            container = 'file:///staging/leuven/res_00001/software/vsn_containers/vibsinglecellnf-cellranger-5.0.1.img'
            
            demultiplex {
                mask_short_adapter_reads = true
                lanes = [1,2,3,4]
                split_lanes = true
                create_fastq_for_index_reads = false
                barcode_mismatches = 1
            }          
        }
    }
}