name: mnncorrect

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: true
    - name: Install Nextflow
      run: |
        export NXF_VER='19.12.0-edge'
        wget -qO- get.nextflow.io | bash
        sudo mv nextflow /usr/local/bin/
    - name: Get sample data
      run: |
        mkdir testdata
        wget https://raw.githubusercontent.com/aertslab/SCENICprotocol/master/example/sample_data.tar.gz
        tar xvf sample_data.tar.gz
        cp -r sample_data testdata/sample1
        mv sample_data testdata/sample2
    - name: Run single_sample test
      run: |
        nextflow run ${GITHUB_WORKSPACE} -profile mnncorrect,test__mnncorrect,docker -entry mnncorrect -ansi-log false
        cat .nextflow.log
